.bs-example{
  font-family: sans-serif;
  position: relative;
  margin: 100px;
}
.typeahead, .tt-query, .tt-hint {
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  outline: medium none;
  padding: 3px 9px;
  width: 100%;
}
.typeahead {
  background-color: #FFFFFF;
}
.typeahead:focus {
  border: 1px solid #0097CF;
}
.tt-query {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
  color: #999;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
  margin-top: 9px;
  padding: 3px 0;
  width: 240px;
}
.tt-suggestion {
  font-size: 18px;
  line-height: 24px;
  padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
}
.tt-suggestion p {
  margin: 0;
}