{% extends "base.html" %}

{% block content %}

<header>
<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-3 col-md-push-9">
      <div class="logo">
        <a href="{{ url_for('cabinet') }}"><img src="{{ url_for('static', filename='images/dlogo.png') }}" /></a>
      </div>
  </div>

</div>
</header>


<h2>{{  _('Про кабінет') }}</h2>

<table class="table">
    <thead>
        <tr>
            <th>{{  _('№') }}</th>
            <th>{{  _('Параметр') }}</th>
            <th>{{  _('Значення') }}</th>
        </tr>
    </thead>

    <tbody>

        {% for index, param in params|dictsort %}

            {% for key, value in param.iteritems() %}
                <tr>
                    <td>{{ index }}</td>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        
        {% endfor %}
        
    </tbody>
</table>

<h4>{{ _('Версія для копіювання') }}</h4>

<textarea class="form-control" readonly>
  {%- for index, param in params|dictsort -%}
      {%- for key, value in param.iteritems() %}
              {{ index }}. {{ key }} : {{ value }}
      {%- endfor -%}
   {%- endfor -%}
</textarea>
    
{% endblock %}