<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

{% if current_user.is_authenticated %}

 {% if credits is defined %}
  <title>{{ _('Договір') }} ' № {{credits.num_abonent}} - _('Персональний кабінет') }}</title>
 {% else %}
  <title>{{ _('Персональний кабінет') }} {% include './locals/tm.html' %}</title>
 {% endif %}

{% else %}
 <title>{{ _('Персональний кабінет') }} {% include './locals/tm.html' %}</title>
{% endif %}

<link rel="icon" href="{{ url_for('static', filename='images/ico.png') }}" />

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap-select.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='scheme/custom.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap-datetimepicker.min.css') }}" />

<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery.numeric.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery/validator.min.js') }}"></script>

</head>
<body class="cabinet">

 <div class="container">


  {% if next != '/' %}
  {% endif %}

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}

    {% for category, message in messages %}
      <div class="alert {{ category }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ message }}
      </div>
    {% endfor %}

  {% endif %}
  {% endwith %}


  {% block content %}{% endblock %}

<footer>
<div class="row">
 <div class="col-xs-12 col-sm-6 col-md-6">
   <h4><a class="about-sign" href="/about"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>{{ _('Проблеми з використанням? Підтримка:') }} {% include './locals/phone_support.html' %}</h4>
   <p>{% include './locals/about.html' %}</p>
   {% if current_user.is_authenticated %}
     <p><a href="{{ url_for('logout') }}" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>{{ _('Вийти') }}</a></p>
   {% endif %}
 </div>

 <div class="col-xs-12 col-sm-6 col-md-3">
   <ul class="list-unstyled tmlinks">
     <li><a href="{% include './locals/main_page.html' %}">{{ _('Перейти до сайту') }}</a></li>
     <li><a href="{{ url_for('connect_city') }}">{{ _('Підключись до мережі') }}</a></li>
   </ul>
 </div>


 <div class="col-xs-12 col-sm-6 col-md-3 lang-selector">

<div class="btn-group dropup">
<button type="button" class="btn btn-default btn-sm">{{ _('Українська') }}</button>
<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<span class="caret"></span>
<span class="sr-only">Toggle Dropdown</span>
</button>
<ul class="dropdown-menu">
     <li><a href="{{ url_for('connect_lang',lang='uk') }}?next={{ request.url }}">Українська</a></li>
     <li><a href="{{ url_for('connect_lang',lang='en') }}?next={{ request.url }}">English</a></li>
     <li><a href="{{ url_for('connect_lang',lang='ru') }}?next={{ request.url }}">Русский</a></li>
</ul>
</div>

 </div>

</div>
</footer>

 </div>

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-select.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-checkbox.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='bootstrap/js/moment-with-locales.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>


<script>
$( document ).ready(function() {

$(':checkbox').checkboxpicker({
  html: true,
  baseGroupCls : 'btn-group btn-group-sm',
  offLabel: '{{ _('Ні') }}',
  onLabel: '{{ _('Так') }}'
});

$('input.numeric').numeric();

});
</script>

{% include './locals/tracking.html' %}

</body>
</html>