{% extends "controls.html" %}

{% block workzone %}

  <h2>{{ _('На вашому рахунку %(bonus)s бонусів', bonus = base.credits.bonus_saldo) }}</h2>

  {% if contract.code == 1 %}
  <div class="panel">
   {% autoescape false %}
   {{ contract.message }}
   {% endautoescape %}
  </div>
  <p><a href="{{ url_for('bonus',mode=1) }}">{{ _('Приховати деталі') }}</a></p>
  {% else %}
  <p><a href="{{ url_for('bonus',mode=2) }}">{{ _('Детальніше про бонуси') }}</a></p>
  {% endif %}


  {% if auto_bonus_allow %}

    <form name="bonus" method="POST" action="" data-toggle="validator">

    {{ bonus.hidden_tag() }}

    <div class="form-group {% if bonus.errors.auto %}has-error{% endif %}">
    <label class="control-label" for="check-agree">{{ _('Автоматично списувати бонуси') }}</label>     
      <div>
      {{bonus.auto}}
      </div>
        {% for error in bonus.errors.auto %}
        <span class="help-block">{{error}}</span>
        {% endfor %}
      </div>

    <button type="submit" name="bonus" class="btn btn-primary">{{ _('Зберегти') }}</button></a> 

    </form>

  {% endif %}

{% endblock %}