{% extends "controls.html" %}

{% block workzone %}

<div class="alert alert-info" role="alert">
 <p>{{ _('Пароль потрібен для авторизації у Вашому Персональному кабінеті.') }}</p>
 <p>{{ _('Не зберігайте цей пароль в загальнодоступному місці та не передавайте його іншим особам.') }}</p>
</div>

<h2>{{ _('Зміна пароля') }}</h2>

<div class="row">

  <form name="changepass" method="POST" action="" class="col-md-6">

    {{changepass.hidden_tag()}}

    <div class="form-group {% if changepass.errors.newpassword %}has-error{% endif %}">
    <label class="control-label" for="newpassword">{{ _('Новий пароль') }}</label>
      {{changepass.newpassword(class="form-control")}}
      {% for error in changepass.errors.newpassword %}
       <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>

    <div class="form-group {% if changepass.errors.confirm %}has-error{% endif %}">
    <label class="control-label" for="confirm">{{ _('Підтвердження нового пароля') }}</label>
      {{changepass.confirm(class="form-control")}}
      {% for error in changepass.errors.confirm %}
       <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>

    <button type="submit" name="changepass" class="btn btn-primary">{{ _('Змінити') }}</button></a> 

    </form>

</div>


{% endblock %}