<h3>Тарифний план «{{ channel.name }}», Каналів: {{ count }}</h3>
<h4>Абонплата: {{ channel.value }} грн/міс</h4>

<div class="table-responsive">
<table id="sorting" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Назва каналу</th>
      <th>Тематика</th>
      <th>Канал</th>
      <th>Частота</th>
    </tr>
  </thead>
  <tbody>

  {% for channel in channel.list %}

    <tr>
      <td><strong>{{ channel.name_channel }}</strong></td>
      <td>{{ channel.group_channel }}</td>
      <td>{{ channel.num }}</td>
      <td>{{ channel.qu }}</td>
    </tr>

  {% endfor %}

  </tbody>
</table>
</div>