<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{{ _('Підключення') }} {% include './locals/tm.html' %}</title>


<link rel="icon" href="{{ url_for('static', filename='images/ico.png') }}" /> 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='scheme/custom.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/search.css') }}" />

<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='typeahead/typeahead.min.js') }}"></script>

</head>
<body>

<div class="container">


  {% if is_local %} 
  
    <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>{{ _('Увага') }}</strong>
    <p>{{ _('Вас визначено як діючого абонента') }} {% include './locals/tm.html' %}</p>
    <p>{{ _('Ця послуга призначена для підключення до мережі нових абонентів') }}</p>
    <p>{{ _('Діючі абоненти можуть скористатись послугою') }} <a href="{{ url_for('cabinet') }}">{{ _('Персональний кабінет') }}</a></p>    
    </div>

  {% endif %}

  {% block content %}{% endblock %}

<footer>
<div class="row">
 <div class="col-xs-12 col-sm-6 col-md-6">
   <h4>{{ _('Проблеми з використанням? Підтримка:') }} {% include './locals/phone_support.html' %}</h4>
   <p>{% include './locals/about.html' %}</p>
 </div>

 <div class="col-xs-12 col-sm-6 col-md-3">
   <ul class="list-unstyled tmlinks">
     <li><a href="{% include './locals/main_page.html' %}">{{ _('Перейти до сайту') }}</a></li>
     <li><a href="{{ url_for('cabinet') }}">{{ _('Персональний кабінет') }}</a></li>
   </ul>
 </div>


 <div class="col-xs-12 col-sm-6 col-md-3 lang-selector">

<div class="btn-group dropup">
<button type="button" class="btn btn-default btn-sm">{{ _('Українська') }}</button>
<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<span class="caret"></span>
<span class="sr-only">Toggle Dropdown</span>
</button>
<ul class="dropdown-menu">
     <li><a href="{{ url_for('connect_lang',lang='uk') }}?next={{ request.url }}">Українська</a></li>
     <li><a href="{{ url_for('connect_lang',lang='en') }}?next={{ request.url }}">English</a></li>
     <li><a href="{{ url_for('connect_lang',lang='ru') }}?next={{ request.url }}">Русский</a></li>
</ul>
</div>

 </div>

</div>
</footer>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

{% include './locals/tracking.html' %}

</body>

</html>