{% extends "connect_base.html" %}

  {% block content %}

  <header>
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-3 col-md-push-9">
      <div class="logo">
        <a href="{{ url_for('cabinet') }}"><img src="{{ url_for('static', filename='images/dlogo.png') }}" /></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-9 col-md-pull-3">

      {% if complete.code == 0 %}
        <h3>{{ _('Заявка № %(num)s від %(date)s успішно прийнята' ,
          num = complete.data.num ,
          date = complete.data.date|dt
          ) }}
        </h3>
      {% endif %}

      {% if complete.code == 1 %}
        <h3>{{ _('Заявку не прийнято') }}</h3>
      {% endif %}

      {% if complete.code == 2 %}
        <h3>{{ _('Заявку було прийнято') }}</h3>
      {% endif %}

      {% if complete.code == 3 %}
        <h3>{{ _('Заявку не прийнято') }}</h3>
      {% endif %}

    </div>

  </div>

  </header>

  {% if complete.code == 0 %}
    <p>{{ _('В найкоротші терміни з Вами зв\'яжеться наш працівник для уточнення деталей та дати підключення.') }}</p>
  {% endif %}

  {% if complete.code == 1 %}
    <p>{{ _('З Вашої IP адреси було прийнято заявку менше однієї хвилини тому.') }}</p>
    <p>{{ _('Якщо Ви не відправляли заявку, повторіть спробу через хвилину.') }}</p>
    <div class="close_wnd"><a href="javascript:history.back()">{{ _('Повернутись до заповнення форми') }}</a></div>
  {% endif %}

  {% if complete.code == 2 %}
    <p>{{ _('На вибрану адресу вже прийнято заявку № %(num)s від %(date)s.',
      num = complete.data.num ,
      date = complete.data.date|dt
      ) }}
    </p>
    <p>{{ _('В найкоротші терміни з Вами зв\'яжеться наш працівник для уточнення деталей та дати підключення.') }}</p>

  {% endif %}

  {% if complete.code == 3 %}

    <p>{{ _('Невірно вибрана адреса підключення.') }}</p>
    <div class="close_wnd"><a href="{{ url_for('connect_city') }}">{{ _('Повернутись до заповнення форми') }}</a></div>

  {% endif %}

  {% include './locals/connect_show_adds.html' %}

  {% endblock %}