{% extends "connect_base.html" %}

  {% block content %}

  <header>
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-3 col-md-push-9">
      <div class="logo">
        <a href="{{ url_for('cabinet') }}"><img src="{{ url_for('static', filename='images/dlogo.png') }}" /></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-9 col-md-pull-3">
    <h3>{{ _('Підключення до мережі') }}</h3>

    <h3>{{ _('Крок 5 з 5. Заповнення форми') }} <small>
      {% if mode == 'build' %}
        <a href="{{ url_for('connect_apartment', build = address.build.id ) }}">{{ _('Повернутись') }}</a>
      {% endif %}
      {% if mode == 'street' %}
        <a href="{{ url_for('connect_build', street = address.street.id ) }}">{{ _('Повернутись') }}</a>
      {% endif %}

    </small></h3>

    </div>

  </div>

  <div class="progress">
    <div class="progress-bar progress-bar progress-bar-striped" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
      <span class="sr-only">100% Complete (warning)</span>
    </div>
  </div>

  </header>

<div class="row">

<div class="col-xs-12 col-sm-6 col-sm-push-6">
<div class="well">
<address>
  <strong>{{ _('Адреса підключення') }}</strong><br>

  {% if mode == 'apartment' %}
    {{ address.city.typ }} {{ address.city.name }}<br>
    {{ address.street.typ }}. {{ address.street.name }}, {{ address.build.name }} {% if address.apartment.knum > 0 %}кв. {{ address.apartment.knum }}{{ address.apartment.klit }} {% endif %}<br>
  {% endif %}

  {% if mode == 'build' %}
    {{ address.city.typ }} {{ address.city.name }}<br>
    {{ address.street.typ }}. {{ address.street.name }}, {{ address.build.name }}<br>
  {% endif %}

  {% if mode == 'street' %}
    {{ address.city.typ }} {{ address.city.name }}<br>
    {{ address.street.typ }}. {{ address.street.name }}<br>
  {% endif %}

  {% if mode == 'city' %}
    {{ address.city.typ }} {{ address.city.name }}<br>
  {% endif %}

</address>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-sm-pull-6">
<div class="well">

  <form name="fconnectapp" method="POST" action="" data-toggle="validator" class="fconnectapp">

    {{ fconnectapp.hidden_tag() }}

    {% if mode != 'apartment' %}
      <div class="form-group {% if fconnectapp.errors.address %}has-error{% endif %}">
      <label class="control-label" for="address">
      {% if mode == 'build' %}
        {{ _('Квартира') }}
      {% endif %}
      {% if mode == 'street' %}
        {{ _('Будинок') }}, {{ _('Квартира') }}
      {% endif %}
      {% if mode == 'City' %}
        {{ _('Адреса') }}
      {% endif %}
      </label>

        {{fconnectapp.address(class="form-control")}}

        {% for error in fconnectapp.errors.address %}
          <span class="help-block">{{error}}</span>
        {% endfor %}

      </div>
    {% endif %}

    <div class="form-group {% if fconnectapp.errors.name %}has-error{% endif %}">
    <label class="control-label" for="name">{{ _('Контактна особа') }}</label>
      {{fconnectapp.name(class="form-control")}}

      {% for error in fconnectapp.errors.name %}
       <span class="help-block">{{error}}</span>
      {% endfor %}

    </div>

    <div class="form-group {% if fconnectapp.errors.phone %}has-error{% endif %}">
    <label class="control-label" for="phone">{{ _('Телефон') }} ({{ _('тільки цифри, у форматі 0XXXXXXXXX') }})</label>
      {{fconnectapp.phone(class="form-control", pattern="\d{10}")}}

      {% for error in fconnectapp.errors.phone %}
       <span class="help-block">{{error}}</span>
      {% endfor %}

    </div>

    <div class="form-group {% if fconnectapp.errors.email %}has-error{% endif %}">
      <label class="control-label" for="email">{{ _('Електронна пошта') }}</label>
      {{fconnectapp.email(class="form-control")}}

      {% for error in fconnectapp.errors.email %}
       <span class="help-block">{{error}}</span>
      {% endfor %}

    </div>

    <div class="form-group {% if fconnectapp.errors.want_internet %}has-error{% endif %}">
    <label class="control-label" for="check-agree">{{ _('Інтернет') }}</label>
     <div>
     {{fconnectapp.want_internet}}
     </div>
      {% for error in fconnectapp.errors.want_internet %}
      <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>

    <div class="form-group {% if fconnectapp.errors.want_catv %}has-error{% endif %}">
    <label class="control-label" for="check-agree">{{ _('Кабельне телебачення') }}</label>
     <div>
     {{fconnectapp.want_catv}}
     </div>
      {% for error in fconnectapp.errors.want_catv %}
      <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>

    <div class="form-group {% if fconnectapp.errors.wishes %}has-error{% endif %}">
    <label class="control-label" for="wishes">{{ _('Примітки та побажання') }}</label>
      {{fconnectapp.wishes(class="form-control")}}

      {% for error in fconnectapp.errors.wishes %}
       <span class="help-block">{{error}}</span>
      {% endfor %}

    </div>

    <button type="submit" name="fconnectapp" class="btn btn-primary btn-lg">{{ _('Підключитись') }}</button>

    </form>
  </div>
  </div>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap-checkbox.min.js') }}" ></script>

  <script>

  $( document ).ready(function() {

    $(':checkbox').checkboxpicker({
      html: true,
      baseGroupCls : 'btn-group btn-group-sm',
      offLabel: '{{ _('Ні') }}',
      onLabel: '{{ _('Так') }}'
    });

    $('.fconnectapp').validator();

  });
  </script>

  {% endblock %}

