{% extends "connect_base.html" %}

  {% block content %}

  <header>
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-3 col-md-push-9">
      <div class="logo">
        <a href="{{ url_for('cabinet') }}"><img src="{{ url_for('static', filename='images/dlogo.png') }}" /></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-9 col-md-pull-3">
      <h3>{{ _('Підключення до мережі') }}</h3>
      <h3>{{ _('Крок 2 з 5. Вибір вулиці') }} <small><a href="{{ url_for('connect_city') }}">{{ _('Повернутись') }}</a></small></h3>

    </div>

  </div>

  <div class="progress">
    <div class="progress-bar progress-bar progress-bar-striped" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
    <span class="sr-only">40% Complete (warning)</span>
    </div>
  </div>

  </header>

  <div class="row">

  <div class="col-xs-12 col-sm-6 col-sm-push-6">
    <div class="well">
      <address>
        <strong>{{ _('Адреса підключення') }}</strong><br>
          {{ address.city.typ }} {{ address.city.name }}<br>
      </address>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-sm-pull-6">
  <div class="well">

    <form name="fstreet" method="POST" action="" data-toggle="validator">

      <script type="text/javascript">
      $(document).ready(function(){
        $('.typeahead').typeahead({
              remote: {
                  url : '{% include './locals/typeahead.html' %}/get_ts_address/fts_street/{{city}}/10/%QUERY'
              }
        });
      });
      </script>

      {{ fstreet.hidden_tag() }}

      <div class="form-group {% if fstreet.errors.street %}has-error{% endif %}">
        <label for="fstreet">{{ _('Вулиця') }}</label><br />

        {{fstreet.street(class="typeahead", id="street", autocomplete="off", spellcheck="false")}}

        {% for error in fstreet.errors.street %}
          <span class="help-block">{{error}}</span>
        {% endfor %}

        <div class="help-block">{{ _('Почніть вводити назву вулиці') }}</div>

      </div>

      <button type="submit" name="fstreet" class="btn btn-primary btn-lg">{{ _('Продовжити') }}</button>

    </form>
  </div>
  </div>

  </div>

  {% endblock %}