{% extends "connect_base.html" %}

  {% block content %}

  <header>
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-3 col-md-push-9">
      <div class="logo">
        <a href="{{ url_for('cabinet') }}"><img src="{{ url_for('static', filename='images/dlogo.png') }}" /></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-9 col-md-pull-3">
      <h3>{{ _('Підключення до мережі') }}</h3>
      <h3>{{ _('Крок 1 з 5. Вибір населеного пункту') }}</h3>
    </div>

  </div>

  <div class="progress">
    <div class="progress-bar progress-bar progress-bar-striped" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
      <span class="sr-only">20% Complete (warning)</span>
    </div>
  </div>

  </header>

  <div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="well">
      <form name="fcity" method="POST" action="" data-toggle="validator">

        <script type="text/javascript">
          $(document).ready(function(){
            $('.typeahead').typeahead({
              remote: {
                url : '{% include './locals/typeahead.html' %}/get_ts_address/fts_city/{{id_web_localize}}/10/%QUERY'
              }
            });
          });
        </script>

        {{ fcity.hidden_tag() }}

        <div class="form-group {% if fcity.errors.city %}has-error{% endif %}">
          <label for="fcity">{{ _('Населений пункт') }}</label><br />

          {{fcity.city(class="typeahead", id="city", autocomplete="off", spellcheck="false")}}

          {% for error in fcity.errors.city %}
          <span class="help-block">{{error}}</span>
          {% endfor %}

          <div class="help-block">{{ _('Почніть вводити назву населеного пункту') }}</div>
        </div>
        <button type="submit" name="fcity" class="btn btn-primary btn-lg">{{ _('Продовжити') }}</button>
      </form>
    </div>
  </div>
  </div>

  {% endblock %}
