{% extends "connect_base.html" %}

  {% block content %}

  <header>
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-3 col-md-push-9">
       <div class="logo">
        <a href="{{ url_for('cabinet') }}"><img src="{{ url_for('static', filename='images/dlogo.png') }}" /></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-9 col-md-pull-3">
    <h3>{{ _('Підключення до мережі') }}</h3>
    <h3>{{ _('Крок 3 з 5. Вибір будинку') }} <small><a href="{{ url_for('connect_street', city = address.city.id ) }}">{{ _('Повернутись') }}</a></small></h3>

    </div>

  </div>

  <div class="progress">
  <div class="progress-bar progress-bar progress-bar-striped" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
    <span class="sr-only">60% Complete (warning)</span>
  </div>
  </div>

  </header>

  <div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-push-6">
  <div class="well">
  <address>
    <strong>{{ _('Адреса підключення') }}</strong><br>
    {{ address.city.typ }} {{ address.city.name }}<br>
    {{ address.street.typ }}. {{ address.street.name }}<br>
  </address>
  </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-sm-pull-6">
  <div class="well">

    <form name="fbuild" method="POST" action="" data-toggle="validator">

      <script type="text/javascript">
        $(document).ready(function(){
          $('.typeahead').typeahead({
            remote: {
              url : '{% include './locals/typeahead.html' %}/get_ts_address/fts_build/{{street}}/10/%QUERY'
            }
          });
        });
      </script>

      {{ fbuild.hidden_tag() }}

      <div class="form-group {% if fbuild.errors.build %}has-error{% endif %}">
        <label for="fbuild">{{ _('Будинок') }}</label><br />

        {{fbuild.build(class="typeahead", id="build", autocomplete="off", spellcheck="false")}}

        {% for error in fbuild.errors.build %}
          <span class="help-block">{{error}}</span>
        {% endfor %}

        {% if skip_quest %}
          <div class="alert alert-warning" role="alert">
          <p>{{ _('Ви можете пропустити цей крок, якщо номер внесеного будинку правильний, але його не знайдено в нашій базі.') }}</p>
          <p><a href="{{ url_for('connect_application',mode='street',id=street) }}">{{ _('Пропустити') }}</a></p>
          </div>
        {% else %}
          <div class="help-block">{{ _('Почніть вводити номер будинку') }}</div>
        {% endif %}

      </div>

      <button type="submit" name="fbuild" class="btn btn-primary btn-lg">{{ _('Продовжити') }}</button></a>

    </form>
  </div>
  </div>

  </div>

  {% endblock %}