{% extends "controls.html" %}

{% block workzone %}

<h2>{{ _('Мої контактні дані') }}</h2>
<div class="row">
  <form name="contacts" method="POST" action="" class="col-md-6">

    {{ contacts.hidden_tag() }}

    <div class="form-group {% if contacts.errors.phone1 %}has-error{% endif %}">
    <label class="control-label" for="phone">{{ _('Номер телефону') }} 1 ({{ _('тільки цифри, у форматі 0XXXXXXXXX') }})</label>
      {{contacts.phone1(class="form-control")}}

      {% for error in contacts.errors.phone1 %}
       <span class="help-block">{{error}}</span>
      {% endfor %}

    </div>

    <div class="form-group {% if contacts.errors.phone2 %}has-error{% endif %}">
    <label class="control-label" for="phone">{{ _('Номер телефону') }} 2 ({{ _('тільки цифри, у форматі 0XXXXXXXXX') }})</label>
      {{contacts.phone2(class="form-control")}}

      {% for error in contacts.errors.phone2 %}
       <span class="help-block">{{error}}</span>
      {% endfor %}

    </div>

    <div class="form-group {% if contacts.errors.email %}has-error{% endif %}">
      <label class="control-label" for="email">{{ _('Електронна пошта') }}</label>
      {{contacts.email(class="form-control")}}

      {% for error in contacts.errors.email %}
       <span class="help-block">{{error}}</span>
      {% endfor %}

    </div>

    <div class="form-group {% if contacts.errors.callback %}has-error{% endif %}">
    <label class="control-label" for="check-agree">{{ _('Дозволити інформування') }}</label>     
     <div>
     {{contacts.callback}}
     </div>
      {% for error in contacts.errors.callback %}
      <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>


    {% if base.credits.abonent_storage.allow == True %}

      {% if show_header_personal_data == True %}
        <h3>{{ _('Персональні дані') }}</h3>
      {% endif %}

      {% if show_date_birth == True %}
         
      <div class="form-group {% if contacts.errors.date_birth %}has-error{% endif %}">
        <label class="control-label" for="date_birth'">{{ _('Дата народження') }}</label>
        <div class='input-group date' id='date_birth'>

          {{contacts.date_birth(class="form-control")}}
          {% for error in contacts.errors.date_birth %}
          <span class="help-block">{{error}}</span>
          {% endfor %}
          
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>

      <script type="text/javascript">
          $(function () {

              $('#date_birth').datetimepicker({
                  locale: '{{ _('uk') }}',
                  viewMode: 'months',
                  format: '{{ _('DD.MM.YYYY') }}',
              widgetPositioning: {
                  horizontal: 'left',
                  vertical: 'bottom'
              }
              });

          });

      </script>
      {% endif %}

    {% endif %}


    <button type="submit" name="contacts" class="btn btn-primary">{{ _('Зберегти') }}</button>

  </form>
</div>


{% endblock %}