{% extends "base.html" %}

{% block content %}

{% include 'main_credits.html' %}

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-9 col-md-push-3 cabinet">
    {% block workzone %}{% endblock %}
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-md-pull-9 controls">
    {% include 'main_controls.html' %}
  </div>
</div>

{% endblock %}
