{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-xs-12 col-sm-6">
  <h1>{{ _('Персональний кабінет') }}</h1>
      <div class="intrologo">
        <a href="{{ url_for('cabinet') }}"><img src="{{ url_for('static', filename='images/dlogo.png') }}" /></a>
      </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    {% block workzone %}{% endblock %}
  </div>
</div>

{% endblock %}
