{% extends "controls.html" %}
{% block workzone %}

<h2>{{ _('Поповнити рахунок') }}</h2>


{% if funds.pcode == true %} 
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab"">
        <h4 class="panel-title">
          <a href="{{ url_for('scratch') }}">
          {{ _('Поповнення карткою') }}
          </a>
        </h4>
      </div>
    </div>
  </div>
{% endif %}


<p>{{ _('Швидка оплата картками VISA/MasterCard') }}</p>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  {% for fund in funds.payment_terminal %}


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{ fund.terminal }}{{ fund.id_bank }}">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ fund.terminal }}{{ fund.id_bank }}" aria-expanded="false" aria-controls="collapse{{ fund.terminal }}{{ fund.id_bank }}">
          {{ fund.caption }}
        </a>
      </h4>
    </div>
    <div id="collapse{{ fund.terminal }}{{ fund.id_bank }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ fund.terminal }}{{ fund.id_bank }}">
      <div class="panel-body">

          {% if fund.info %} 
          <p>{% autoescape false %}{{ fund.info }}{% endautoescape %}</p>
          {% endif %}

          {% if fund.boo_edit_payment == true %} 
            <hr />
            <h4>{{ _('Сума поповнення') }}</h4>
            <form class="form-inline" method="POST" action="{{ url_for('funds_terminal', terminal = fund.terminal ) }}" accept-charset="utf-8">
              <div class="form-group">
                <input type="text" class="form-control numeric" name="amount" value="" maxlength="4" required>
              </div>
              <input type="hidden" name="num_abonent" value="{{base.credits.num_abonent}}"/>
              <input type="hidden" name="name_abonent" value="{{base.credits.name_abonent}}"/>
              <input type="hidden" name="city" value="{{base.credits.city}}"/>
              <input type="hidden" name="address" value="{{base.credits.address}}"/>
              <input type="hidden" name="id_bank" value="{{ fund.id_bank }}"/>
              <input type="hidden" name="service_code" value="{{ fund.service_code }}"/>
              <button type="submit" name="btn_funds" class="btn btn-primary">{{ _('Далі') }}</button></a>
            </form>
          {% endif %}

          {% if fund.boo_suggest_payment == true %} 
            {% if fund.val_suggest_payment > 0 %} 
              <hr />
              <h4>{{ _('Рекомендована сума поповнення') }}</h4>
              <form class="form-inline" method="POST" action="{{ url_for('funds_terminal', terminal = fund.terminal ) }}" accept-charset="utf-8">
                <input type="hidden" name="num_abonent" value="{{base.credits.num_abonent}}"/>
                <input type="hidden" name="name_abonent" value="{{base.credits.name_abonent}}"/>
                <input type="hidden" name="city" value="{{base.credits.city}}"/>
                <input type="hidden" name="address" value="{{base.credits.address}}"/>
                <input type="hidden" name="amount" value="{{ fund.val_suggest_payment }}"/>
                <input type="hidden" name="id_bank" value="{{ fund.id_bank }}"/>
                <input type="hidden" name="service_code" value="{{ fund.service_code }}"/>
                <button type="submit" name="btn_funds" class="btn btn-primary">{{ fund.val_suggest_payment }} {{ _('грн') }}</button></a>
              </form>
            {% endif %}
          {% endif %}

          {% if fund.buttons %} 
            <hr />
            <h4>{{ _('Або інші суми поповнення') }}</h4>
            <ul class="list-inline">
            {% for button in fund.buttons %}
              <li>
              <form class="form-inline" method="POST" action="{{ url_for('funds_terminal', terminal = fund.terminal ) }}" accept-charset="utf-8">
                <input type="hidden" name="num_abonent" value="{{base.credits.num_abonent}}"/>
                <input type="hidden" name="name_abonent" value="{{base.credits.name_abonent}}"/>
                <input type="hidden" name="city" value="{{base.credits.city}}"/>
                <input type="hidden" name="address" value="{{base.credits.address}}"/>
                <input type="hidden" name="amount" value="{{ button.amount }}"/>
                <input type="hidden" name="id_bank" value="{{ fund.id_bank }}"/>
                <input type="hidden" name="service_code" value="{{ fund.service_code }}"/>
                <button type="submit" name="btn_funds" class="btn btn-primary btn-sm">{{ button.amount }} {{ _('грн') }}</button></a>
              </form>
              </li>
            {% endfor %}
            </ul>

          {% endif %}

      </div>
    </div>
  </div>

  {% endfor %}

</div>


{% if funds.bank_details.boo == true %}
  <h4 class="mb-4">{{ _('Банківські реквізити') }}</h4>
  <div class="bg-white shadow-sm rounded-2 p-3 px-lg-4 mb-4">
  {% autoescape false %}
  {{funds.bank_details.html}}
  {% endautoescape %}
  </div>
{% endif %}


{% for fund in funds.payment_others %}

 <p><a href="{{ fund.url }}">{{ _('Інші способи оплати') }}</a></p>

{% endfor %}

{% endblock %}