{% extends "controls.html" %}
{% block workzone %}

<h2>{{ _('Поповнити рахунок') }}</h2>

<dl class="dl-horizontal">
  <dt>{{ _('Сума поповнення') }}</dt>
  <dd>{{ amount }} {{ _('грн') }}</dd>

  <dt>{{ _('Договір') }}</dt>
  <dd>{{ num_abonent }}</dd>

  <dt>{{ _('Особа') }}</dt>
  <dd>{{ name_abonent }}</dd>

  <dt>{{ _('Адреса') }}</dt>
  <dd>{{ address }}</dd>

  <dt>{{ _('Населений пункт') }}</dt>
  <dd>{{ city }}</dd>
</dl>

{% if terminal == 'FastPayPrivat' %}
  <p><a href="{{funds_terminal.url}}" class="btn btn-primary">{{ _('Поповнити рахунок') }}</a></p>
{% endif %}

{% if terminal == 'IPay' %}
  <p><a href="{{funds_terminal.url}}" class="btn btn-primary">{{ _('Поповнити рахунок') }}</a></p>
{% endif %}

{% if terminal == 'EasyPay' %}
  <p><a href="{{funds_terminal.url}}" class="btn btn-primary">{{ _('Поповнити рахунок') }}</a></p>
{% endif %}

{% if terminal == 'LiqPay' %}

  <form method="POST" action="{{funds_terminal.url}}" accept-charset="utf-8">
  <input type="hidden" name="data" value="{{ funds_terminal.data }}"/>
  <input type="hidden" name="signature" value="{{ funds_terminal.signature }}"/>
  <button type="submit" name="last_costs" class="btn btn-primary">{{ _('Поповнити рахунок') }}</button></a>
  </form>

{% endif %}

{% endblock %}