{% extends "controls.html" %}

{% block workzone %}
<h2>{{ _('Витрати') }}</h2>

  <form name="last_costs" method="POST" action="" class="form-inline">

   {{ last_costs.hidden_tag() }}

    <div class="form-group {% if last_costs.errors.combo_box %}has-error{% endif %}">

    {{last_costs.combo_box(class="form-control selectpicker show-tick", title="--")}}

      {% for error in last_costs.errors.combo_box %}
      <span class="help-block">{{error}}</span>
      {% endfor %}

    </div>

    <button type="submit" name="last_costs" class="btn btn-primary">{{ _('Вибрати') }}</button></a>

  </form>


{% if sum_total > 0 %}  

  <div class="table-responsive">
    <table class="table">
    <thead>
      <tr>
        <th>{{ _('Дата') }}</th>
        <th>{{ _('Нарахування') }}</th>
        <th>{{ _('Сума, грн') }}</th>
      </tr>
    </thead>

    <tbody>

      {% if sum_cables > 0 %}  
        <tr>
          <td colspan="3"><h3>{{ _('Кабельне телебачення') }}</h3></td>
        </tr>
        {% for cable in costs.cables %}
        <tr>
          <td>{{ cable.rdat|dt }}</td>
          <td>{{ _('Тарифний план') }} {{ cable.name }}</td>
          <td>{{ cable.cost }}</td>
        </tr>
        {% endfor %}
      {% endif %}

      {% if sum_months > 0 or sum_days > 0 %}  
        <tr>
          <td colspan="3"><h3>{{ _('Інтернет') }}</h3></td>
        </tr>
        {% for month in costs.months %}
        <tr>
          <td>{{ month.rdat|dt }}</td>
          <td>{{ _('Тарифний план') }} {{ month.name }}</td>
          <td>{{ month.cost }}</td>
        </tr>
        {% endfor %}
        {% for day in costs.days %}
        <tr>
          <td>{{ day.rdat|dt }}</td>
          <td>{{ _('Тарифний план') }} {{ day.name }}</td>
          <td>{{ day.cost }}</td>
        </tr>
        {% endfor %}
      {% endif %}


      {% if sum_others > 0 %}  
        <tr>
          <td colspan="3"><h3>{{ _('Додатково') }}</h3></td>
        </tr>
        {% for other in costs.others %}
        <tr>
          <td>{{ other.rdat|dt }}</td>
          <td>
            

       {% if other.id_act > 0 or other.id_pos > 0 %}  

          {% if other.id_act > 0 %}  

            {{ _('Акт використаних матеріалів № %(num)s від %(date)s', 
             num = other.data_act.num ,
             date = other.data_act.date|dt
             
             ) 
            }}

          {% endif %}

          {% if other.id_pos > 0 %}  

            {{ _('Акт наданих послуг № %(num)s від %(date)s', 
             num = other.data_pos.num ,
             date = other.data_pos.date|dt
             ) 
            }}

          {% endif %}


          <a data-toggle="modal" data-target=".bs-example-modal-lg-{{ other.id }}" href="#myLargeModalLabel">{{ _('детально') }}</a>
          <div class="modal fade bs-example-modal-lg-{{ other.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
                {% if other.id_act > 0 %}  
                    <h4 class="modal-title">
                    {{ _('Акт використаних матеріалів № %(num)s від %(date)s', 
                      num = other.data_act.num ,
                      date = other.data_act.date|dt
                      ) 
                    }}
                    </h4>
                </div>

              <div class="modal-body">

                    <table class="table">
                    <thead>
                    <tr>
                      <th>{{ _('Код') }}</th>
                      <th>{{ _('Найменування') }}</th>
                      <th>{{ _('К-сть.') }}</th>
                      <th>{{ _('Од. вим.') }}</th>
                      <th>{{ _('Ціна за од. вим., грн') }}</th>
                      <th>{{ _('Всього, грн') }}</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for act in other.data_act.list %}
                    <tr>
                      <td>{{ act.cod }}</td>
                      <td>{{ act.name }}

                      {% if act.serial == True %}  
                        <a data-toggle="collapse" href="#collapseExample-{{ act.id }}" aria-expanded="false" aria-controls="collapseExample-{{ act.id }}">
                        {{ _('Серійний номер') }}
                        </a>

                        <div class="collapse" id="collapseExample-{{ act.id }}">
                          <ul class="list-unstyled">
                            {% for serial in act.list %}
                              <li>{{ serial.number }}</li>
                            {% endfor %}
                          </ul> 
                        
                        </div>

                      {% endif %}

                      </td>
                      <td>{{ act.cou }}</td>
                      <td>{{ act.vum }}</td>
                      <td>{{ act.val }}</td>
                      <td>{{ act.sum }}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><strong>{{ _('Всього') }}</strong></td>
                      <td><strong>{{ other.cost }}</strong></td>
                    </tr>
                    </table>

                  {% endif %}

                  {% if other.id_pos > 0 %}  

                    <h4>
                    {{ _('Акт наданих послуг № %(num)s від %(date)s', 
                      num = other.data_pos.num ,
                      date = other.data_pos.date|dt
                      ) 
                    }}
                    </h4>


                    <table class="table">
                    <thead>
                    <tr>
                      <th>{{ _('Код') }}</th>
                      <th>{{ _('Послуга') }}</th>
                      <th>{{ _('К-сть.') }}</th>
                      <th>{{ _('Од. вим.') }}</th>
                      <th>{{ _('Ціна за од. вим., грн') }}</th>
                      <th>{{ _('Всього, грн') }}</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for pos in other.data_pos.list %}
                    <tr>
                      <td>{{ pos.cod }}</td>
                      <td>{{ pos.name }}</td>
                      <td>{{ pos.cou }}</td>
                      <td>{{ pos.vum }}</td>
                      <td>{{ pos.val }}</td>
                      <td>{{ pos.sum }}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><strong>{{ _('Всього') }}</strong></td>
                      <td><strong>{{ other.cost }}</strong></td>
                    </tr>
                    </table>
                  {% endif %}

              </div>
            </div>
            </div>
          </div>

        {% else %}
          {{ other.name }}
        {% endif %}



          </td>
          <td>{{ other.cost }}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </tbody>
      <tr>
        <td></td>
        <td class="text-right"><strong>{{ _('Всього, грн') }}</strong></td>
        <td><strong>{{ sum_total }}</strong></td>
      </tr>
    </table>
  </div>

{% else %}

  <br/><h4>{{ _('Немає витрат') }}</h4>

{% endif %}


{% endblock %}