{% extends "controls.html" %}

{% block workzone %}
<h2>{{ _('Прийняті оплати') }}</h2>

  <form name="last_payments" method="POST" action="" class="form-inline">

   {{ last_payments.hidden_tag() }}

    <div class="form-group {% if last_payments.errors.combo_box %}has-error{% endif %}">

    {{last_payments.combo_box(class="form-control selectpicker show-tick", title="--")}}

      {% for error in last_payments.errors.combo_box %}
      <span class="help-block">{{error}}</span>
      {% endfor %}

    </div>


    <button type="submit" name="last_payments" class="btn btn-primary">{{ _('Вибрати') }}</button></a>

  </form>

{% if sum_payments > 0 %}  

  <div class="table-responsive">

  <table class="table table-hover">
  <thead>
    <tr>
      <th>{{ _('Реєстр') }}</th>
      <th>{{ _('Оплата') }}</th>
      <th>{{ _('Банк') }}</th>
      <th>{{ _('Сума, грн') }}</th>
    </tr>
  </thead>
  <tbody>
  {% for payment in payments.data %}
    <tr>
      <td>{{ payment.rdat|dt }}</td>
      <td>{{ payment.idat }}</td>
      <td>{{ payment.bank }}</td>
      <td>{{ payment.payment }}</td>
    </tr>
  {% endfor %}
  </tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><b>{{ sum_payments }}</b></td>
    </tr>
  </table>

  </div>

{% else %}

  <br/><h4>{{ _('Немає прийнятих оплат') }}</h4>

{% endif %}

{% endblock %}