{% extends "controls_nologin.html" %}

{% block workzone %}

  <div class="well login">
    <form name="login" method="POST" action="" data-toggle="validator">

    {{ form.hidden_tag() }}

    <div class="form-group {% if form.errors.flogin %}has-error{% endif %}">

      {% if type_auth == 'num' %} 
        <label class="control-label" for="flogin">{{ _('Номер договору') }}</label>
        {{form.flogin(class="form-control numeric")}}
      {% endif %}

      {% if type_auth == 'nick' %} 
        <label class="control-label" for="flogin">{{ _('Логін') }}</label>
        {{form.flogin(class="form-control")}}
      {% endif %}

      {% if type_auth == 'phone' %} 
        <label class="control-label" for="phone">{{ _('Номер телефону') }}</label>
        {{form.flogin(class="form-control", pattern="\d{10}")}}
      {% endif %}

      {% if type_auth == 'email' %} 
        <label class="control-label" for="email">{{ _('Електронна пошта') }}</label>
        {{form.flogin(class="form-control")}}
      {% endif %}

      {% for error in form.errors.flogin %}
        <span class="help-block">{{error}}</span>
      {% endfor %}

    </div>

    <div class="form-group {% if form.errors.fpassword %}has-error{% endif %}">

     <label class="control-label" for="fpassword">{{ _('Пароль') }}</label>
     {{form.fpassword(class="form-control")}}

     {% for error in form.errors.fpassword %}
      <span class="help-block">{{error}}</span>
     {% endfor %}

      {% if recovery_password_mail or recovery_password_sms %}
        <span class="help-block"><a href="{{ url_for('recovery_password_form') }}">{{ _('Забули пароль?') }}</a></span>
      {% endif %}

    </div>

    <button type="submit" class="btn btn-primary btn-lg">{{ _('Авторизація') }}</button>


    </form>
    
    {% if is_local and without_auth %}
      <hr />
      <a class="btn btn-primary" href="{{ url_for('check') }}">{{ _('Вхід без авторизації') }}</a>
    {% endif %}

  </div>

{% endblock %}