<ul class="nav nav-pills nav-stacked">


   <li {% if cabinet is defined or service is defined %}class="active"{% endif %}>
     <a href="{{ url_for('cabinet') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{ _('Мої тарифні плани') }}</a>
  </li>

  {% if base.credits.num_eq_passwd == False %}


    {% if base.credits.wait_payment.allow %}
     <li {% if wpayment is defined %}class="active"{% endif %}>
     <a href="{{ url_for('wpayment',mode=1) }} "><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>{{ _('Очікуваний платіж') }}</a>
     </li>
    {% endif %}

    {% if base.credits.bonus.allow %}
     <li {% if bonus is defined %}class="active"{% endif %}>
     <a href="{{ url_for('bonus',mode=1) }} "><span class="glyphicon glyphicon-star" aria-hidden="true"></span>{{ _('Бонуси') }}</a>
     </li>
    {% endif %}

    {% if base.credits.last_payments.allow %}
     <li {% if last_payments is defined %}class="active"{% endif %}>
     <a href="{{ url_for('last_payments') }} "><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>{{ _('Прийняті оплати') }}</a>
     </li>
    {% endif %}

    {% if base.credits.last_costs.allow %}
     <li {% if last_costs is defined %}class="active"{% endif %}>
     <a href="{{ url_for('last_costs') }} "><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>{{ _('Витрати') }}</a>
     </li>
    {% endif %}

    {% if base.credits.set_question.allow %}  
     <li {% if question is defined %}class="active"{% endif %}>
     <a href="{{ url_for('question') }} ">
     {% if base.credits.abonent_dialog_alert %}
      <span class="glyphicon glyphicon-envelope new-message" aria-hidden="true"></span>{{ _('Отримано відповідь') }}</a>   
     {% else %}
      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>{{ _('Поставити запитання') }}</a>
     {% endif %}
     </li>
    {% endif %}

    {% if base.credits.change_password.allow %}
     <li {% if changepass is defined %}class="active"{% endif %}>
     <a href="{{ url_for('changepass') }}"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span>{{ _('Змінити пароль') }}</a>
     </li>
    {% endif %}

    {% if base.credits.set_contacts.allow %}  
     <li {% if contacts is defined %}class="active"{% endif %}>
     <a href="{{ url_for('contacts') }}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>{{ _('Мої контактні дані') }}</a>
     </li>
    {% endif %}

    {% if base.credits.sms_info.allow == True or base.credits.mail_info.allow == True %}  
     <li {% if speed_info is defined %}class="active"{% endif %}>
     <a href="{{ url_for('speed_info') }}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>{{ _('Швидке інформування') }}</a>
     </li>
    {% endif %}

  {% endif %}

  {% if base.credits.funds.allow %}
    <li {% if funds is defined %}class="active"{% endif %}>
      <a href="{{ url_for('funds') }}"><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>{{ _('Поповнити рахунок') }}</a>
    </li>
  {% endif %}

</ul>
