{% if is_unknown %} 

  {% if is_unknown_process %} 
    <div class="alert alert-success" role="alert">
    <p>
    {{ _('Пристрій успішно підключено. Протягом однієї хвилини Ваш пристрій буде активовано в мережі.') }}
    </p>
    </div>
  {% else %}
    <div class="newdevice">
      <a class="btn btn-primary btn-newdev" href="{{ url_for('newdevice') }}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>{{ _('Знайдено новий пристрій') }}</a>
    </div>
  {% endif %}

{% endif %}

{% if base.credits.num_eq_passwd == True %}

<div class="alert alert-warning" role="alert">
<strong>{{ _('Увага') }}</strong>
  <p>{{ _('Пароль для авторизації в Персональному кабінеті дорівнює номеру Вашого договору.') }}</p>
  <p>{{ _('Для активації функцій керування в Персональному кабінеті Вам потрібно замінити пароль.') }}</p> 

  {% if base.credits.change_password.allow %}

    <p><a href="{{ url_for('changepass') }}"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span>{{ _('Замінити пароль') }}</a></p>

  {% else %}

    <p>
    {{ _('Для відновлення пароля, Вам необхідно завітати у відділ обслуговування абонентів.') }} 
    {{ _('При собі необхідно мати паспорт або інше посвідчення особи.') }}
    </p>

  {% endif %}

</div>

{% endif %}

{% autoescape false %}

  {% if base.credits.allow_inform.allow %}

    {% for critical in base.credits.alerts.criticals %}
      <div class="alert alert-warning" role="alert">
        {{critical}}
      </div>
    {% endfor %}

  {% endif %}

  {% if base.credits.abonent_messinfo.allow %}

    <div class="alert alert-success" role="alert">

    {% if mainfo.code == 1 %}
      {{ _('Всі послуги згідно Договору № %(num)s станом на %(date)s відключені по заяві', 
       num = mainfo.num, 
       date = mainfo.date|dt 
      ) }}
    {% endif %}

    {% if mainfo.code == 2 %}
      {{ _('Мінімальну суму яку необхідно сплатити для активації всіх послуг в поточному місяці згідно Договору № %(num)s станом на %(date)s становить %(payment)s грн', 
      num = mainfo.num, 
      date = mainfo.date|dt, 
      payment = mainfo.payment 
      ) }} 
    {% endif %}

    {% if mainfo.code == 3 %}
      {{ _('Мінімальну суму яку необхідно сплатити для активації всіх послуг в поточному місяці згідно Договору № %(num)s станом на %(date)s становить %(payment)s грн. 
      З урахуванням авансу за наступний місяць становить %(advance)s грн', 
      num = mainfo.num, 
      date = mainfo.date|dt, 
      payment = mainfo.payment,
      advance = mainfo.advance 
      ) }} 
    {% endif %}

    {% if mainfo.code == 4 %}
      {{ _('Мінімальну суму яку необхідно сплатити для активації всіх послуг в наступному місяці згідно Договору № %(num)s станом на %(date)s становить %(payment)s грн', 
      num = mainfo.num, 
      date = mainfo.date|dt, 
      payment = mainfo.payment 
      ) }} 
    {% endif %}

    {% if mainfo.code == 5 and mainfo.payment > 0 %}
      {{ _('Мінімальну суму яку необхідно сплатити для активації всіх послуг в поточному місяці згідно Договору № %(num)s станом на %(date)s становить %(payment)s грн. 
      Нарахування за послуги в наступному місяці не планується', 
      num = mainfo.num, 
      date = mainfo.date|dt, 
      payment = mainfo.payment 
      ) }} 
    {% endif %}

    {% if mainfo.code == 5 and mainfo.payment == 0 %}
      {{ _('Згідно Договору № %(num)s нарахування за послуги в наступному місяці не планується', 
      num = mainfo.num, 
      date = mainfo.date|dt, 
      payment = mainfo.payment 
      ) }} 
    {% endif %}

    {% if mainfo.code == 6 %}
      {{ _('Cтаном на %(date)s на вашому рахунку недостатньо коштів для активації послуг', 
      date = mainfo.date|dt 
      ) }}
    {% endif %}

    {% if mainfo.code == 7 %}
      {{ _('Cтаном на %(date)s на вашому рахунку достатньо коштів для активації послуг', 
      date = mainfo.date|dt 
      ) }}
    {% endif %}

    {% if mainfo.code == 8 %}
      {{ _('Cтаном на %(date)s на вашому рахунку достатньо коштів для активації послуг в наступному місяці', 
      date = mainfo.date|dt 
      ) }}
    {% endif %}

    </div>

  {% endif %}

  {% if base.credits.allow_inform.allow %}

    {% for actual in base.credits.alerts.actuals %}
      <div class="alert alert-info" role="alert">
        {{actual}}
      </div>
    {% endfor %}

  {% endif %}

{% endautoescape %}

