{% autoescape false %}

<h2>{{ _('Мої тарифні плани') }}</h2>
<div class="row">
<div class="col-xs-12 packets">

{% for service in base.credits.packets.services %}

  <div class="panel">

  <span class="label label-{% if service.id_active == 0 %}primary{% else %}success{% endif %}">
  {% if service.id_active == 0 %}{{ _('Вимкнено') }}{% else %}{{ _('Увімкнено') }}{% endif %}
  </span>
  <h3>{{ _('Інтернет') }}: {{ service.name_packet }} 
  
    {% if service.pp_statistic == True %}
      <small><a href="{{ url_for('statistic',hash=service.hash) }}">{{ _('Статистика') }}</a></small>
    {% endif %}

  </h3>

    <span class="help-block">

    {% if service.current %}
      {% if service.current.amount > 0 %}

        {% if service.current.type == 'day' %}
          {{ _('Нараховано абонплату в сумі %(amount)s грн станом на %(date_b)s', 
          date_b = service.current.date_b|dt ,
          amount = service.current.amount        
          ) }}
        {% endif %}

        {% if service.current.type == 'month' %}
          {{ _('Нараховано абонплату в сумі %(amount)s грн за період з %(date_b)s по %(date_e)s', 
          date_b = service.current.date_b|dt ,
          date_e = service.current.date_e|dt ,
          amount = service.current.amount        
          ) }}
        {% endif %}

      {% endif %}
    {% endif %}

    </span>


   {% if base.credits.num_eq_passwd == False and base.credits.manage_tariffs == True %}


    {% if service.realip.address %}

      {% if service.realip.fee>0 %}
        <span class="help-block">
          {{ _('Абонплата за використання реальної IP адреси %(fee)s грн/міс.', fee = service.realip.fee ) }}
        </span>
      {% endif %}

      <span class="help-block">
        {{ _('Реальна IP адреса: <b>%(address)s</b>. ', address = service.realip.address ) }}

        {% if service.realip.off %}
          <a href="{{ url_for('service_action',hash=service.hash,  action='realip_off') }} ">{{ _('Відмовитись') }}</a>
        {% endif %}

      </span>

    {% endif %}


    {% if service.detail.action.cancel_enable == True %}
     <span class="help-block">
     {{ _('Заплановано ввімкнення послуги з %(date)s', date = service.detail.action.date_service_switch|dt ) }}
     <a href="{{ url_for('service_action',hash=service.hash,  action='cancel_enable') }} ">{{ _('Відмінити') }}</a>
     </span>
    {% endif %}

    {% if service.detail.action.cancel_disable == True %}
     <span class="help-block">
     {{ _('Заплановано вимкнення послуги з %(date)s', date = service.detail.action.date_service_switch|dt ) }}
     <a href="{{ url_for('service_action',hash=service.hash, action='cancel_disable') }} ">{{ _('Відмінити') }}</a>
     </span>
    {% endif %}

    {% if service.detail.action.cancel_packet == True %}
     <span class="help-block">
     {{ _('Заплановано заміну тарифного плану на %(tariff_new)s з %(date)s' ,
     tariff_new = service.detail.action.name_service_packet ,
     date = service.detail.action.date_service_packet|dt
     ) }}

     <a href="{{ url_for('service_action',hash=service.hash, action='cancel_packet') }} ">{{ _('Відмінити') }}</a>
     </span>
    {% endif %}

    {% if service.detail.action.speedway_status == 2 %}
     <span class="help-block">
     {{ _('Заплановано Турбо-режим') }}
     <a href="{{ url_for('service_action',hash=service.hash,  action='cancel_speedway') }} ">{{ _('Відмінити') }}</a>
     </span>
    {% endif %}

    {% if service.detail.action.speedway_status == 3 %}
     <span class="help-block">
     {{ _('Активовано Турбо-режим') }}
     </span>
    {% endif %}

    {% if (
            (service.realip.address and service.realip.off) or
            (service.detail.action.cancel_enable == True) or
            (service.detail.action.cancel_disable == True) or
            (service.detail.action.cancel_packet == True) or
            (service.detail.action.speedway_status == 2) or
            (service.detail.action.speedway_status == 3)
          )
    %}

    <hr />

    {% endif %}

    <h4><a href="{{ url_for('service',hash=service.hash) }}">{{ _('Керування') }}</a></h4>

   {% endif %}

  </div>
{% endfor %}


{% if base.credits.packets.cable.id_packet > 0 %}

 <div class="panel">

 <span class="label label-{% if base.credits.packets.cable.id_connect == None %}success{% else %}primary{% endif %}">{% if base.credits.packets.cable.id_connect == None %}{{ _('Увімкнено') }}{% else %}{{ base.credits.packets.cable.name_connect }}{% endif %}</span>
 <h3>{{ _('КТБ') }}: {{ base.credits.packets.cable.name_packet }}</h3>

  {% if base.credits.packets.cable.current %}
    {% if base.credits.packets.cable.current.amount > 0 %}

      <span class="help-block">
      {{ _('Нараховано абонплату в сумі %(amount)s грн за період з %(date_b)s по %(date_e)s', 
      date_b = base.credits.packets.cable.current.date_b|dt ,
      date_e = base.credits.packets.cable.current.date_e|dt ,
      amount = base.credits.packets.cable.current.amount        
      ) }}

      {% if base.credits.packets.cable.current.discount > 0 %}
        &nbsp;
        {{ _('Знижка - %(discount)s грн', 
        discount = base.credits.packets.cable.current.discount        
        ) }}
      {% endif %}
      </span>

    {% endif %}
  {% endif %}

 {% for cable in cables %}
  {% if cable.id_plan_connect != None %}
    {% if cable.status_connect == 0 or cable.status_connect == 1 %}

      <span class="help-block">

      {% if cable.id_fin_connect == None %}

       {{ _('Прийнято заяву № %(num)s на ввімкнення від %(date)s.',
       num = cable.id_zaj_abon ,
       date = cable.date_zaj_abon|dt
       ) }}

      {% else %}

       {{ _('Прийнято заяву № %(num)s на вимкнення від %(date)s.',
       num = cable.id_zaj_abon ,
       date = cable.date_zaj_abon|dt
       ) }}

      {% endif %}

      {% if cable.status_connect == 1 %}

       {{ _('Орієнтовний час виконання робіт запланований на %(date)s з %(time_b)s по %(time_e)s.',
        date = cable.date_plan_daily_c|dt ,
        time_b = cable.time_b_c|tt ,
        time_e = cable.time_e_c|tt
       ) }}

      {% endif %}
      </span>

    {% endif %}
  {% endif %}

  {% if cable.id_plan_packet != None %}
    {% if cable.status_packet == 0 or cable.status_packet == 1 %}

      <span class="help-block">

      {{ _('Прийнято заяву № %(num)s для заміни тарифного плану на %(tariff)s від %(date)s.',
       num = cable.id_zaj_abon ,
       tariff = cable.name_packet ,
       date = cable.date_plan_packet|dt
      ) }}

      {% if cable.status_packet == 1 %}

       {{ _('Орієнтовний час виконання робіт запланований на %(date)s з %(time_b)s по %(time_e)s.',
        date = cable.date_plan_daily_p|dt ,
        time_b = cable.time_b_p|tt ,
        time_e = cable.time_e_p|tt
       ) }}

      {% endif %}
      </span>

    {% endif %}
  {% endif %}

 {% endfor %}

 {% if base.credits.num_eq_passwd == False and base.credits.manage_tariffs == True %}

  {% if base.credits.boo_root_catv == True %}
   <hr />
   <h4><a href="{{ url_for('cable') }}">{{ _('Керування') }}</a></h4>
  {% endif %}

 {% endif %}

 </div>

{% endif %}

</div>
</div>

{% endautoescape %}