<header>
<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-3 col-md-push-9">
      <div class="logo">
        <a href="{{ url_for('cabinet') }}"><img src="{{ url_for('static', filename='images/dlogo.png') }}" /></a>
      </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-9 col-md-pull-3">
  <h3>{{ _('На рахунку') }} <span class="text-{% if base.credits.saldo < 0 %}danger{% else %}success{% endif %}">{{base.credits.saldo}} {{ _('грн') }}</span>
  {% if base.credits.last_payment.val and base.credits.last_payment.rdat %}

    <small>
    {{ _('остання оплата: %(money)s грн від %(date)s' ,
    money = base.credits.last_payment.val ,
    date = base.credits.last_payment.rdat|dt
    ) }}
    </small>

  {% else %}

    <small>{{ _('немає прийнятих оплат') }}</small>

  {% endif %}
  </h3>
   
   {% if base.credits.abonent_suggest_payment.allow == true and base.credits.val_suggest_payment>0 %}
     <h3>{{ _('Рекомендована сума поповнення') }} <span class="text-success">  {{base.credits.val_suggest_payment}} </span> {{ _('грн') }}
       <small><a href="{{ url_for('funds') }}">{{ _('Поповнити рахунок') }}</a></small>
     </h3>
   {% endif %}
   
   <h3>{{ _('Договір') }} {{base.credits.num_abonent}} <small>{{ _('адреса') }}: {{base.credits.city}}, {{base.credits.address}}</small></h3>
  </div>

</div>
</header>
