{% extends "controls.html" %}

{% block workzone %}


  {% if status_unknown_action.code == 7 %}
    <div class="alert alert-success" role="alert">
    <p>
    {{ _('Пристрій успішно підключено. Протягом однієї хвилини Ваш пристрій буде активовано в мережі.') }}
    </p>
    </div>
  {% endif %}

  {% if status_unknown_action.code == 6 %}
    <div class="alert alert-warning" role="alert">
    <p>
    {{ _('Підключення нового пристрою дозволено тільки з адреси, яка закріплена за Вашим Договором.') }}
    </p>
    </div>
  {% endif %}

  {% if status_unknown_action.code == 5 %}
    <div class="alert alert-iwarningnfo" role="alert">
    <p>
    {{ _('Невідома помилка. Зверніться в службу технічної підтримки Вашого провайдера. Код помилки %(code)s.', 
    code = status_unknown_action.code
    ) }} 
    </p>
    </div>
  {% endif %}

  {% if status_unknown_action.code == 4 %}
    <div class="alert alert-warning" role="alert">
    <p>
    {{ _('Невідома помилка. Зверніться в службу технічної підтримки Вашого провайдера. Код помилки %(code)s.', 
    code = status_unknown_action.code
    ) }} 
    </p>
    </div>
  {% endif %}

  {% if status_unknown_action.code == 3 %}
    <div class="alert alert-warning" role="alert">
    <p>
    {{ _('За Вашим Договором закріплено декілька Тарифних планів. Скористайтесь меню Керування у відповідному Тарифному плані.') }}
    </p>
    </div>
  {% endif %}

  {% if status_unknown_action.code == 2 %}
    <div class="alert alert-warning" role="alert">
    <p>
    {{ _('Невідома помилка. Зверніться в службу технічної підтримки Вашого провайдера. Код помилки %(code)s.', 
    code = status_unknown_action.code
    ) }} 
    </p>
    </div>
  {% endif %}

  {% if status_unknown_action.code == 1 %}
    <div class="alert alert-warning" role="alert">
    <p>
    {{ _('Підключення нового пристрою дозволено тільки з адреси, яка закріплена за Вашим Договором.') }}
    </p>
    </div>
  {% endif %}


{% if status_unknown_action.code == 0 %}

<h2>{{ _('Підключити новий пристрій') }}</h2>


  <div class="alert alert-success" role="alert">
  <p>
    {{ _('MAC %(mac)s', 
    mac = status_unknown_action.data.mac
    ) }} 
  </p>


  </div>


  <div class="row">

    <form name="newdevice" method="POST" action="" class="col-md-6">

      {{newdevice.hidden_tag()}}

      <div class="form-group {% if newdevice.errors.agree %}has-error{% endif %}">
      <label class="control-label" for="check-agree">{{ _('Підтвердження') }}</label>     
       <div>
       {{newdevice.agree}}
       </div>
        {% for error in newdevice.errors.agree %}
        <span class="help-block">{{error}}</span>
        {% endfor %}
      </div>

      <button type="submit" name="newdevice" class="btn btn-primary">{{ _('Підключити') }}</button></a> 
   

    </form>

  </div>

{% endif %}


{% endblock %}