{% extends "controls.html" %}

{% block workzone %}

  <div class="jumbotron">
    <h1>{{ _('Увага') }}</h1>
      <p>{{ _('Пароль для авторизації в Персональному кабінеті дорівнює номеру Договору.') }}</p>
      <p>{{ _('Для керування Персональним кабінетом необхідно змінити пароль.') }}</p> 

      {% if base.credits.change_password.allow %}
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('changepass') }}" role="button">{{ _('Змінити пароль') }}</a></p>
      {% else %}
        <p>
        {{ _('Для зміни пароля, Вам необхідно завітати у відділ обслуговування абонентів.') }} 
        {{ _('При собі необхідно мати паспорт або інше посвідчення особи.') }}
        </p>

      {% endif %}

  </div>

{% endblock %}