{% extends "controls.html" %}

{% block workzone %}

  <div class="jumbotron">
    <h1>{{ _('Увага') }}</h1>
      <p>{{ _('Для керування Персональним кабінетом необхідна авторизація.') }}</p>


   <form name="postconfirm" method="POST" action="" data-toggle="validator">

    {{ postconfirm.hidden_tag() }}

    <div class="form-group {% if postconfirm.errors.password %}has-error{% endif %}"> 
      <label class="control-label" for="password">{{ _('Пароль') }}</label>
      {{postconfirm.password(class="form-control")}}
      {% for error in postconfirm.errors.password %}
       <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>

    <button type="submit" name="postconfirm" class="btn btn-primary btn-lg">{{ _('Авторизація') }}</button></a> 

   </form>

   <br /><p><a href="{{ url_for('remember_password') }}">{{ _('Забули пароль?') }}</a></p>

  </div>


{% endblock %}