{% extends "controls.html" %}

{% block workzone %}
<h2>{{ _('Поставити запитання') }}</h2>

  {% if action == 1 %}

    <form name="question_create_form" method="POST" action="" data-toggle="validator">

    {{ question_create_form.hidden_tag() }}

    <div class="form-group {% if question_create_form.errors.quest %}has-error{% endif %}">
    <label class="control-label" for="quest">{{ _('Суть запитання') }}</label>
      {{question_create_form.quest(class="form-control")}}

      {% for error in question_create_form.errors.quest %}
       <span class="help-block">{{error}}</span>
      {% endfor %}

    </div>

<div class="row">

    <div class="form-group col-xs-12 col-md-6 {% if question_create_form.errors.phone %}has-error{% endif %}">
    <label class="control-label" for="phone">{{ _('Номер телефону') }} ({{ _('тільки цифри, у форматі 0XXXXXXXXX') }})</label>
      {{question_create_form.phone(class="form-control", pattern="\d{10}")}}

      {% for error in question_create_form.errors.phone %}
       <span class="help-block">{{error}}</span>
      {% endfor %}

    </div>

</div>

<div class="row">

    <div class="form-group col-xs-12 col-md-6 {% if question_create_form.errors.email %}has-error{% endif %}">
      <label class="control-label" for="email">{{ _('Електронна пошта') }}</label>
      {{question_create_form.email(class="form-control")}}

      {% for error in question_create_form.errors.email %}
       <span class="help-block">{{error}}</span>
      {% endfor %}

    </div>

</div>

    <button type="submit" name="question_create_form" class="btn btn-primary">{{ _('Поставити запитання') }}</button></a>

    </form>
<br />
    <p><a href="{{ url_for('question_archive', page='1') }}">{{ _('Архів поставлених запитань') }}</a></p>

  {% endif %}

  {% if action == 2 %}

    <div class="panel">
    <p><strong>{{ _('Вами було поставлено запитання') }}</strong></p>
      {{question.data.question}}
    </div>

    <p>{{ _('Відповідь на Ваше запитання буде надано в найкоротший термін та буде доступно на цій сторінці, та буде автоматично направлено на Вашу електронну поштову скриньку.') }}</p>

  {% endif %}

  {% if action == 3 %}

    <div class="panel">
    <p><strong>{{ _('Вами було поставлено запитання') }}</strong></p>
      {{question.data.question}}
    </div>

    <div class="panel">
    <p><strong>{{ _('Відповідь') }}</strong></p>
      {% autoescape false %}
      {{question.data.answer}}
      {% endautoescape %}
    </div>

    <form name="question_close_form" method="POST" action="" data-toggle="validator">

      {{ question_close_form.hidden_tag() }}

      <div class="form-group {% if question_close_form.errors.agree %}has-error{% endif %}">
      <label class="control-label" for="check-agree">{{ _('Відповідь прочитано') }}</label>
        <div>
        {{question_close_form.agree}}
        </div>
        {% for error in question_close_form.errors.agree %}
        <span class="help-block">{{error}}</span>
        {% endfor %}
      </div>
      <button type="submit" name="question_close_form" class="btn btn-primary">{{ _('Підтвердити') }}</button></a>

    </form>

  {% endif %}

{% endblock %}