{% extends "controls.html" %}

{% block workzone %}
<h2>{{ _('Архів поставлених запитань') }}</h2>

  {% for dialogs in question_archive.dialogs %}
    <div class="panel">
    <p><strong>{{ _('Запитання від') }} {{dialogs.question.date|dt}} {{dialogs.question.time}}</strong></p>

      {{dialogs.question.text}}
    </div>

    <div class="panel"> 
    <p><strong>{{ _('Відповідь') }} {{dialogs.answer.date|dt}} {{dialogs.answer.time}}</strong></p>

      {% autoescape false %}
      {{dialogs.answer.text}}
      {% endautoescape %}
    </div>

  {% endfor %}

  {% if question_archive.pagination == True %}

    <nav>
    <ul class="pagination">
    {% for pages in question_archive.pages %}
      <li><a href="{{ url_for('question_archive', page=pages.page) }}">{{pages.page}}</a></li>
    {% endfor %}
    </ul>
    </nav>

  {% endif %}

   <p><a href="{{ url_for('question') }}">{{ _('Повернутись назад') }}</a>
{% endblock %}