{% extends "controls_nologin.html" %}

{% block workzone %}

  <div class="well login">
  <h2>{{ _('Відновлення пароля') }}</h2>

  <h3>{{ _('Яким чином Ви бажаєте відновити пароль?') }}<h3>

  {% if recovery_password_mail %}
    <h4><a href="{{ url_for('recovery_password', wizard='order',  action='mail') }}">{{ _('Через електронну пошту') }}</a></h4>
  {% endif %}

  {% if recovery_password_sms %}
    <h4><a href="{{ url_for('recovery_password', wizard='order',  action='sms') }}">{{ _('Через SMS') }}</a></h4>
  {% endif %}

  </div>

  <h5><a href="{{ url_for('login') }}">{{ _('Повернутись до форми авторизації') }}</a></h4>

{% endblock %}