{% extends "controls_nologin.html" %}

{% block workzone %}

  <div class="well login">
    <h2>{{ _('Відновлення пароля') }}</h2>
    <form name="mail" method="POST" action="" data-toggle="validator">

    {{ form.hidden_tag() }}

    <div class="form-group {% if form.errors.flogin %}has-error{% endif %}">
      <label class="control-label" for="flogin">{{ _('Номер договору') }}</label>
      {{form.flogin(class="form-control numeric")}}

      {% for error in form.errors.flogin %}
      <span class="help-block">{{error}}</span>
      {% endfor %}

    </div>


    <div class="form-group {% if form.errors.phone %}has-error{% endif %}">
    <label class="control-label" for="phone">{{ _('Телефон') }} ({{ _('тільки цифри, у форматі 0XXXXXXXXX') }})</label>
      {{form.phone(class="form-control", pattern="\d{10}")}}

      {% for error in form.errors.phone %}
       <span class="help-block">{{error}}</span>
      {% endfor %}

    </div>



    <button type="submit" class="btn btn-primary btn-lg">{{ _('Продовжити') }}</button>

    </form>

  </div>

  <h5><a href="{{ url_for('login') }}">{{ _('Повернутись до форми авторизації') }}</a></h4>

{% endblock %}