{% extends "controls_nologin.html" %}

{% block workzone %}

  <div class="well login">
  <h2>{{ _('Створення нового пароля') }}</h2>


  {% if action == 'mail' %}
    <div class="alert alert-info" role="alert">
    <p>{{ _('Код для скидання пароля було надіслано на Вашу електронну адресу.') }}</p>
    </div>
  {% endif %}

  {% if action == 'sms' %}
    <div class="alert alert-info" role="alert">
    <p>{{ _('Код для скидання пароля було надіслано через SMS на Ваш телефонний номер.') }}</p>
    </div>
  {% endif %}

    <form name="mail" method="POST" action="" data-toggle="validator">

    {{ form.hidden_tag() }}


    <div class="form-group {% if form.errors.fpin %}has-error{% endif %}">
      <label class="control-label" for="fpin">{{ _('Код для скидання пароля') }}</label>
      {{form.fpin(class="form-control numeric")}}
      {% for error in form.errors.fpin %}
      <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>


    <div class="form-group {% if form.errors.newpassword %}has-error{% endif %}">
    <label class="control-label" for="newpassword">{{ _('Новий пароль') }}</label>
      {{form.newpassword(class="form-control")}}
      {% for error in form.errors.newpassword %}
       <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>

    <div class="form-group {% if form.errors.confirm %}has-error{% endif %}">
    <label class="control-label" for="confirm">{{ _('Підтвердження нового пароля') }}</label>
      {{form.confirm(class="form-control")}}
      {% for error in form.errors.confirm %}
       <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>


    <button type="submit" class="btn btn-primary btn-lg">{{ _('Змінити пароль') }}</button>

    </form>

  </div>

  <h5><a href="{{ url_for('login') }}">{{ _('Повернутись до форми авторизації') }}</a></h4>

{% endblock %}