{% extends "controls.html" %}

{% block workzone %}

  <h2>{{ _('Відновлення пароля') }}</h2>


  {% if remember_password.code == 0 %}

    {% if remember_password.mail.code == 0 or remember_password.sms.code == 0 %}
      <h3>{{ _('Яким чином Ви бажаєте відновити пароль?') }}<h3>
    {% endif %}

    {% if remember_password.mail.code == 0 %}
      <h4><a href="{{ url_for('remember_by', action='mail') }}">{{ _('Через електронну пошту') }}</a></h4>
    {% endif %}

    {% if remember_password.sms.code == 0 %}
      <h4><p><a href="{{ url_for('remember_by', action='sms') }}">{{ _('Через SMS') }}</a></h4>
    {% endif %}

  {% endif %}

  {% if remember_password.code == 1 %}
    <div class="alert alert-warning" role="alert">
    <p>
    {{ _('Для Відновлення пароля, Вам необхідно завітати у відділ обслуговування абонентів.') }}
    {{ _('При собі необхідно мати паспорт або інше посвідчення особи.') }}
    </p>
    </div>
  {% endif %}

  {% if remember_password.code == 2 %}
    <div class="alert alert-warning" role="alert">
    <strong>{{ _('Увага') }}</strong>
    <p>
    {{ _('Поточний пароль дорівнює номеру Договору. У відновленні пароля немає необхідності.') }}</p>
  </div>
  {% endif %}

{% endblock %}