{% extends "controls.html" %}

{% block workzone %}

 {% if remember_password.code == 0 %}

  {% if remember_password.mail.code == 0 %}

   {% if remember_password.mail.used < remember_password.mail.limit %}

    <h2>{{ _('Відновлення пароля') }}</h2>
    <h4>{{ _('Код для скидання пароля буде відправлено на електронну пошту') }}</h4>
    <h4><b>{{ remember_password.mail.box }}</b></h4>
    <h5>{{ _('Якщо Ваша електронна пошта вказана невірно, Вам необхідно завітати у відділ обслуговування абонентів.') }} {{ _('При собі необхідно мати паспорт або інше посвідчення особи.') }}</h5>

    <form name="by_mail" method="POST" action="" data-toggle="validator">

     {{ by_mail.hidden_tag() }}

     <div class="form-group {% if by_mail.errors.agree %}has-error{% endif %}">
     <label class="control-label" for="check-agree">{{ _('Це моя електронна пошта') }}</label>
      <div>
      {{by_mail.agree}}
      </div>
       {% for error in by_mail.errors.agree %}
       <span class="help-block">{{error}}</span>
       {% endfor %}
     </div>

     <button type="submit" name="by_mail" class="btn btn-primary">{{ _('Продовжити') }}</button></a>

    </form>

   {% else %}

    <div class="alert alert-warning" role="alert">
    <strong>{{ _('Увага') }}</strong>
     <p>{{ _('Вичерпано добовий ліміт спроб відновлення пароля через електронну пошту.') }}</p>
     <p>{{ _('За детальнішою інформацією Вам необхідно звернутись у відділ обслуговування абонентів.') }}</p>
    </div>

   {% endif %}

  {% endif %}

 {% endif %}

{% endblock %}