{% extends "controls.html" %}

{% block workzone %}

<div class="alert alert-info" role="alert">
 <p>{{ _('Нікому не передавайте код під захистним покриттям') }}</p>
</div>

<h2>{{ _('Поповнення карткою') }}</h2>

<div class="row">

  <form name="scratch" method="POST" action="" class="col-md-6">

    {{scratch.hidden_tag()}}

    <div class="form-group {% if scratch.errors.passwd %}has-error{% endif %}">
    <label class="control-label" for="passwd">{{ _('PIN-код') }}</label>
      {{scratch.passwd(class="form-control")}}
      {% for error in scratch.errors.passwd %}
       <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>

    <button type="submit" name="scratch" class="btn btn-primary">{{ _('Поповнити') }}</button></a> 

    </form>

</div>


{% endblock %}