{% extends "controls.html" %}

{% block workzone %}


  <h2>{{ _('Відмова від реальної IP адреси для %(tariff)s', tariff = service.name_packet ) }}</h2>

  <form name="srv_realip_off" method="POST" action="" data-toggle="validator">

    {{ srv_realip_off.hidden_tag() }}

    <div class="form-group {% if srv_realip_off.errors.agree %}has-error{% endif %}">
    <label class="control-label" for="check-agree">{{ _('Підтвердження дії') }}</label>
    <div>
    {{srv_realip_off.agree}}
    </div>
    {% for error in srv_realip_off.errors.agree %}
    <span class="help-block">{{error}}</span>
    {% endfor %}
    </div>

    <button type="submit" name="srv_realip_off" class="btn btn-primary">{{ _('Відмовитись') }}</button></a>

  </form>

{% include 'service_bottom.html' %}

{% endblock %}