{% extends "controls.html" %}

{% block workzone %}

{% autoescape false %}
<div class="alert alert-info" role="alert">
{{ _('Ввімкнення послуги буде заплановано на %(date)s', date = next_date_active.date|dt ) }}
</div>

<h2>{{ _('Запланувати ввімкнення послуги %(tariff)s', tariff = service.name_packet ) }}</h2>
{% endautoescape %}

  <form name="srv_schedule_enable" method="POST" action="" data-toggle="validator">

    {{ srv_schedule_enable.hidden_tag() }}

    <div class="form-group {% if srv_schedule_enable.errors.agree %}has-error{% endif %}">
    <label class="control-label" for="check-agree">{{ _('Підтвердження дії') }}</label>
     <div>
     {{srv_schedule_enable.agree}}
     </div>
      {% for error in srv_schedule_enable.errors.agree %}
      <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>

    <button type="submit" name="srv_schedule_enable" class="btn btn-primary">{{ _('Запланувати') }}</button></a>

  </form>

  {% include 'service_bottom.html' %}

{% endblock %}