{% extends "controls.html" %}

{% block workzone %}

{% autoescape false %}
<h2>{{ _('Відміна Турбо-режиму для %(tariff)s', tariff = service.name_packet ) }}</h2>
{% endautoescape %}
<div class="row">
  <form name="srv_cancel_speedway" method="POST" action="" class="col-md-6">

    {{ srv_cancel_speedway.hidden_tag() }}

    <div class="form-group {% if srv_cancel_speedway.errors.agree %}has-error{% endif %}">
    <label class="control-label" for="check-agree">{{ _('Підтвердження дії') }}</label>
     <div>
     {{srv_cancel_speedway.agree}}
     </div>
      {% for error in srv_cancel_speedway.errors.agree %}
      <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>

    <button type="submit" name="srv_cancel_speedway" class="btn btn-primary">{{ _('Відмінити') }}</button></a>

  </form>
</div>

  {% include 'service_bottom.html' %}

{% endblock %}