{% extends "controls.html" %}

{% block workzone %}

{% autoescape false %}
<div class="alert alert-info" role="alert">
<p>{{ _('Вимкнення послуги буде заплановано на %(date)s, після завершення терміну дії', date = next_date_active.date|dt ) }}</p>

<p>
{% if service.action.val_packet_unactive > 0 %}
 {{ _('Вартість послуги буде становити %(money)s грн', money = service.action.val_packet_unactive) }}
{% else %}
 {{ _('Послуга безкоштовна') }}
{% endif %}
</p>

</div>

<h2>{{ _('Запланувати вимкнення послуги %(tariff)s', tariff = service.name_packet ) }}</h2>
{% endautoescape %}

  <form name="srv_schedule_disable" method="POST" action="" data-toggle="validator">

    {{ srv_schedule_disable.hidden_tag() }}

    <div class="form-group {% if srv_schedule_disable.errors.agree %}has-error{% endif %}">
    <label class="control-label" for="check-agree">{{ _('Підтвердження дії') }}</label>
     <div>
     {{srv_schedule_disable.agree}}
     </div>
      {% for error in srv_schedule_disable.errors.agree %}
      <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>

    <button type="submit" name="srv_schedule_disable" class="btn btn-primary">{{ _('Запланувати') }}</button></a>

  </form>

  {% include 'service_bottom.html' %}

{% endblock %}