{% extends "controls.html" %}

{% block workzone %}

 {% if service.action.num_app_switch != None  %}

  {% autoescape false %}
  <div class="alert alert-warning" role="alert">
  <p>
  {{ _('Ваша заява № %(num)s від %(date)s на вимкнення послуги Інтернет для тарифного плану %(tariff)s було прийнято в письмовому вигляді.' ,
  num = service.action.num_app_switch ,
  date = service.action.date_app_switch|dt ,
  tariff = service.name_packet
  ) }}
  </p>
  <p>
  {{ _('Відмінити заяву можна завітавши у відділ обслуговування абонентів.') }}
  {{ _('При собі необхідно мати паспорт або інше посвідчення особи.') }}
  </p>
  </div>
  {% endautoescape %}

 {% else %}

  {% autoescape false %}
  <div class="alert alert-info" role="alert">
  <strong>{{ _('Довідка') }}</strong>
  <p>
  {{ _('Ця дія призведе до відміни запланованого на %(date)s вимкнення послуги Інтернет для тарифного плану %(tariff)s' ,
  date = service.action.date_service_switch|dt ,
  tariff = service.name_packet
  ) }}
  </p>
  </div>

  <h2>{{ _('Відміна планування %(tariff)s', tariff = service.name_packet ) }}</h2>

  {% endautoescape %}

  <form name="srv_cancel_schedule_disable" method="POST" action="" data-toggle="validator">

    {{ srv_cancel_schedule_disable.hidden_tag() }}

    <div class="form-group {% if srv_cancel_schedule_disable.errors.agree %}has-error{% endif %}">
    <label class="control-label" for="check-agree">{{ _('Підтвердження дії') }}</label>
     <div>
     {{srv_cancel_schedule_disable.agree}}
     </div>
      {% for error in srv_cancel_schedule_disable.errors.agree %}
      <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>

    <button type="submit" name="srv_cancel_schedule_disable" class="btn btn-primary">{{ _('Відмінити') }}</button></a>

  </form>

 {% endif %}

 {% include 'service_bottom.html' %}

{% endblock %}