{% extends "controls.html" %}

{% block workzone %}

{% autoescape false %}

<h2>{{ _('Постачальник послуг %(tariff)s', tariff = get_ottv2.name ) }}</h2>
{% endautoescape %}

<div class="table-responsive">
<table class="table table-hover">
<thead>
 <tr>
  <th>{{ _('Код') }}</th>
 </tr>
</thead>
<tbody>
{% for account in get_ottv2.accounts %}
 <tr>
  <td>{{ account.uniq }}</td>
 </tr>
{% endfor %}
</tbody>
</table>
</div>

{% include 'service_bottom.html' %}

{% endblock %}