{% extends "controls.html" %}

{% block workzone %}


{% if service.action.realip.activate > base.credits.saldo %}

  <div class="alert alert-info" role="alert">

    <p><b>{{ _('Увага!') }}</b></p>

    <p>{{ _('На вашому рахунку недостатньо коштів для замовлення реальної IP адреси.') }}</p>

    {% if service.action.realip.activate>0 %}
      <p>{{ _('За замовлення реальної IP адреси стягується разова оплата в сумі %(activate)s грн.', activate = service.action.realip.activate ) }}</p>
    {% endif %}

    {% if service.action.realip.fee>0 %}
      <p>{{ _('Абонплата за використання реальної IP адреси %(fee)s грн/міс.', fee = service.action.realip.fee ) }}</p>
    {% endif %}
  
  </div>

{% else %}

  {% if service.action.realip.activate>0 or service.action.realip.fee>0 %}

    <div class="alert alert-info" role="alert">

      <p><b>{{ _('Увага!') }}</b></p>

      {% if service.action.realip.activate>0 %}
        <p>{{ _('За замовлення реальної IP адреси стягується разова оплата в сумі %(activate)s грн.', activate = service.action.realip.activate ) }}</p>
      {% endif %}

      {% if service.action.realip.fee>0 %}
        <p>{{ _('Абонплата за використання реальної IP адреси %(fee)s грн/міс.', fee = service.action.realip.fee ) }}</p>
      {% endif %}

    </div>

  {% endif %}


  <h2>{{ _('Замовити реальну IP адресу для %(tariff)s', tariff = service.name_packet ) }}</h2>

  <form name="srv_realip_on" method="POST" action="" data-toggle="validator">

    {{ srv_realip_on.hidden_tag() }}

    <div class="form-group {% if srv_realip_on.errors.agree %}has-error{% endif %}">
    <label class="control-label" for="check-agree">{{ _('Підтвердження дії') }}</label>
    <div>
    {{srv_realip_on.agree}}
    </div>
    {% for error in srv_realip_on.errors.agree %}
    <span class="help-block">{{error}}</span>
    {% endfor %}
    </div>

    <button type="submit" name="srv_realip_on" class="btn btn-primary">{{ _('Замовити') }}</button></a>

  </form>

{% endif %}

{% include 'service_bottom.html' %}

{% endblock %}