{% extends "controls.html" %}

{% block workzone %}

{% autoescape false %}
<div class="alert alert-info" role="alert">
 <p>{{ _('Ця дія призведе до ввімкнення послуги Інтернет для тарифного плану %(tariff)s.', tariff = service.name_packet ) }}</p>
  {% if service.action.cancel_enable == True %}
    <p>{{ _('Заплановане ввімкнення послуги з %(date)s буде відмінено.', date = service.action.date_service_switch|dt ) }}</p>
  {% endif %}
</div>

<h2>{{ _('Увімкнути послугу %(tariff)s', tariff = service.name_packet ) }}</h2>
{% endautoescape %}

   <form name="srv_enable" method="POST" action="" data-toggle="validator">

    {{ srv_enable.hidden_tag() }}

    <div class="form-group {% if srv_enable.errors.agree %}has-error{% endif %}">
    <label class="control-label" for="check-agree">{{ _('Підтвердження дії') }}</label>
     <div>
     {{srv_enable.agree}}
     </div>
      {% for error in srv_enable.errors.agree %}
      <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>

    <button type="submit" name="srv_enable" class="btn btn-primary">{{ _('Увімкнути') }}</button></a>

   </form>

  {% include 'service_bottom.html' %}

{% endblock %}