{% extends "controls.html" %}

{% block workzone %}

 {% if count_speedway_list == 0 %}

  <div class="alert alert-info" role="alert">
  <strong>{{ _('Довідка') }}</strong>
  <p>{{ _('На даний час послуга Турбо-режим неактивна.') }}</p>
  </div>

 {% else %}

  {% autoescape false %}
  <div class="alert alert-info" role="alert">
  <p>{{ _('Турбо-режим дозволяє тимчасово збільшити швидкість у Вашому тарифному плані.') }}</p>
  <ul>
   {% for avaliable_speedway in avaliable_speedways.list %}
    {% if avaliable_speedway.payment_speedway > 0 %}
     <li>{{ _('Вартість замовлення Турбо-режиму %(turbo)s буде становити %(money)s грн', turbo = avaliable_speedway.name_speedway, money = avaliable_speedway.payment_speedway ) }}</li>
    {% endif %}
   {% endfor %}
  </ul>
  </div>

  <h2>{{ _('Запланувати Турбо-режим для %(tariff)s', tariff = service.name_packet ) }}</h2>

  {% endautoescape %}

  <div class="row">
  <form name="srv_schedule_speedway" method="POST" action="" class="col-md-6">

    {{ srv_schedule_speedway.hidden_tag() }}

    <div class="form-group {% if srv_schedule_speedway.errors.speedway %}has-error{% endif %}">
    <label>Турбо-режим</label>
    {{srv_schedule_speedway.speedway(class="form-control selectpicker show-tick", title="---")}}
      {% for error in srv_schedule_speedway.errors.speedway %}
      <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>

    <div class="form-group {% if srv_schedule_speedway.errors.agree %}has-error{% endif %}">
    <label class="control-label" for="check-agree">{{ _('Підтвердження дії') }}</label>
     <div>
     {{srv_schedule_speedway.agree}}
     </div>
      {% for error in srv_schedule_speedway.errors.agree %}
      <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>

    <button type="submit" name="srv_schedule_speedway" class="btn btn-primary">{{ _('Запланувати') }}</button></a>

  </form>
  </div>

  {% endif %}

  <script>
  jQuery(document).ready(function() {
  jQuery( 'select' ).attr("title", "{{ _('Виберіть зі списку') }}");
  });
  </script>

 {% include 'service_bottom.html' %}

{% endblock %}