{% extends "controls.html" %}

{% block workzone %}

{% autoescape false %}

<h2>{{ _('Керування тарифним планом') }}</h2>

<div class="row">

<div class="col-xs-12 packets">


<div class="panel">
<span class="label label-{% if service.id_active == 0 %}primary{% else %}success{% endif %}">
{% if service.id_active == 0 %}{{ _('Вимкнено') }}{% else %}{{ _('Увімкнено') }}{% endif %}
</span>
<h3>{{ _('Інтернет') }}: {{ service.name_packet }}</h3>

  {% if base.credits.num_eq_passwd == False and base.credits.manage_tariffs == True %}

    {% if service.action.realip.address %}

      {% if service.action.realip.fee>0 %}
        <span class="help-block">
          {{ _('Абонплата за використання реальної IP адреси %(fee)s грн/міс.', fee = service.action.realip.fee ) }}
        </span>
      {% endif %}

      <span class="help-block">
        {{ _('Реальна IP адреса: <b>%(address)s</b>. ', address = service.action.realip.address ) }}

        {% if service.action.realip.off %}
          <a href="{{ url_for('service_action',hash=service.hash,  action='realip_off') }} ">{{ _('Відмовитись') }}</a>
        {% endif %}

      </span>

    {% endif %}


    {% if service.action.cancel_enable == True %}
    <span class="help-block">
     {{ _('Заплановано ввімкнення послуги з %(date)s', date = service.action.date_service_switch|dt ) }}
     <a href="{{ url_for('service_action',hash=service.hash,  action='cancel_enable') }} ">{{ _('Відмінити') }}</a>
    </span>
    {% endif %}

    {% if service.action.cancel_disable == True %}
    <span class="help-block">
     {{ _('Заплановано вимкнення послуги з %(date)s', date = service.action.date_service_switch|dt ) }}
     <a href="{{ url_for('service_action',hash=service.hash, action='cancel_disable') }} ">{{ _('Відмінити') }}</a>
    </span>
    {% endif %}

    {% if service.action.cancel_packet == True %}
    <span class="help-block">
     {{ _('Заплановано заміну тарифного плану на %(tariff_new)s з %(date)s',
     tariff_new = service.action.name_service_packet ,
     date = service.action.date_service_packet|dt
     ) }}
     <a href="{{ url_for('service_action',hash=service.hash, action='cancel_packet') }} ">{{ _('Відмінити') }}</a>
    </span>
    {% endif %}

    {% if service.action.speedway_status == 2 %}
     <span class="help-block">
     {{ _('Заплановано Турбо-режим') }}
     <a href="{{ url_for('service_action',hash=service.hash, action='cancel_speedway') }} ">{{ _('Відмінити') }}</a>
    </span>
    {% endif %}

    {% if service.action.speedway_status == 3 %}
     <span class="help-block">
     {{ _('Активовано Турбо-режим') }}
    </span>
    {% endif %}

    {% if (
           (service.action.realip.address and service.action.realip.off) or
           (service.action.cancel_enable == True) or
           (service.action.cancel_disable == True) or
           (service.action.cancel_packet == True) or
           (service.action.speedway_status == 2) or
           (service.action.speedway_status == 3)
          ) and (
           (service.action.enable == True and service.action.id_servis_switch == None) or
           (service.action.disable == True and service.action.id_servis_switch == None) or
           (service.action.schedule_enable == True) or
           (service.action.schedule_disable == True) or
           (service.action.change_packet == True) or
           (service.action.schedule_packet == True) or
           (service.action.schedule_speedway == True) or
           (service.action.cancel_speedway == True)
          )
    %}
    <hr />
    {% endif %}


    {% if not service.action.realip.address and service.action.realip.on %}
      <h4><a href="{{ url_for('service_action',hash=service.hash, action='realip_on') }} ">{{ _('Замовити реальну IP адресу') }}</a></h4>
    {% endif %}

    {% if service.action.enable == True  and  service.action.id_servis_switch == None %}
      <h4><a href="{{ url_for('service_action',hash=service.hash, action='enable') }} ">{{ _('Увімкнути послугу') }}</a></h4>
    {% endif %}

    {% if service.action.disable == True  and  service.action.id_servis_switch == None %}
      <h4><a href="{{ url_for('service_action',hash=service.hash, action='disable') }} ">{{ _('Вимкнути послугу') }}</a></h4>
    {% endif %}


    {% if service.action.schedule_enable == True %}
      <h4><a href="{{ url_for('service_action',hash=service.hash, action='schedule_enable') }} ">{{ _('Запланувати ввімкнення послуги') }}</a></h4>
    {% endif %}

    {% if service.action.schedule_disable == True %}
      <h4><a href="{{ url_for('service_action',hash=service.hash, action='schedule_disable') }} ">{{ _('Запланувати вимкнення послуги') }}</a></h4>
    {% endif %}


    {% if service.action.change_packet == True %}
      <h4><a href="{{ url_for('service_action',hash=service.hash, action='change_packet') }} ">{{ _('Замінити тарифний план') }}</a></h4>
    {% endif %}

    {% if service.action.schedule_packet == True %}
     <h4><a href="{{ url_for('service_action',hash=service.hash, action='schedule_packet') }} ">{{ _('Запланувати заміну тарифного плану') }}</a></h4>
    {% endif %}


    {% if service.action.schedule_speedway == True %}
     <h4><a href="{{ url_for('service_action',hash=service.hash, action='schedule_speedway') }} ">{{ _('Запланувати Турбо-режим') }}</a></h4>
    {% endif %}

    {% if service.action.ottv1 == True %}
     <h4><a href="{{ url_for('service_action',hash=service.hash, action='ottv1') }} ">{{ _('Телебачення OTT') }}</a></h4>
    {% endif %}

    {% if service.action.ottv2 == True %}
     <h4><a href="{{ url_for('service_action',hash=service.hash, action='ottv2') }} ">{{ _('Телебачення OTT') }}</a></h4>
    {% endif %}

  {% endif %}


</div>

{% include 'cabinet_bottom.html' %}

</div>
</div>

{% endautoescape %}

{% endblock %}
