{% extends "controls.html" %}

{% block workzone %}

{% if avaliable_packets.list %}

  <div class="alert alert-info" role="alert">
  <p>{{ _('Перед заміною ознайомтесь з умовами нового тарифного плану') }}</p>
  <ul>
   {% for avaliable_packet in avaliable_packets.list %}
    <li>
    {% if avaliable_packet.fix_abonplata_event > 0 %}
     {{ _('Вартість переходу на тарифний план %(tariff)s становить %(money)s грн', tariff = avaliable_packet.name_packet , money = avaliable_packet.fix_abonplata_event ) }}
    {% else %}
     {{ _('Перехід на тарифний план %(tariff)s безкоштовний', tariff = avaliable_packet.name_packet) }}
    {% endif %}
    </li>
   {% endfor %}
  </ul>

  </div>

  <h2>{{ _('Заміна тарифного плану %(tariff)s', tariff = service.name_packet ) }}</h2>

  <div class="row">
   <form name="srv_change_packet" method="POST" action="" class="col-md-6">

    {{ srv_change_packet.hidden_tag() }}

    <div class="form-group {% if srv_change_packet.errors.packet %}has-error{% endif %}">
    <label>{{ _('Новий тарифний план') }}</label>
    {{srv_change_packet.packet(class="form-control selectpicker show-tick", title="--")}}

      {% for error in srv_change_packet.errors.packet %}
      <span class="help-block">{{error}}</span>
      {% endfor %}

    </div>

    <div class="form-group {% if srv_change_packet.errors.agree %}has-error{% endif %}">
    <label class="control-label" for="check-agree">{{ _('Підтвердження дії') }}</label>
     <div>
     {{srv_change_packet.agree}}
     </div>
      {% for error in srv_change_packet.errors.agree %}
      <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>

    <button type="submit" name="srv_change_packet" class="btn btn-warning">{{ _('Запланувати') }}</button></a>

   </form>
  </div>

  <script>
  jQuery(document).ready(function() {
  jQuery( 'select' ).attr("title", "{{ _('Виберіть зі списку') }}");
  });
  </script>

{% else %}

  <div class="alert alert-warning" role="alert">
  <p>{{ _('Тарифний план %(tariff)s не передбачає заміну', tariff = service.name_packet ) }}</p>
  <p>{{ _('За детальною інформацією зверніться в центр обслуговування абонентів') }}</p>
  </div>

{% endif %}

{% include 'service_bottom.html' %}

{% endblock %}