{% extends "controls.html" %}

{% block workzone %}

{% autoescape false %}

<h2>{{ _('Постачальник послуг %(tariff)s', tariff = get_ottv1.name ) }}</h2>
{% endautoescape %}

<div class="table-responsive">
<table class="table table-hover">
<thead>
 <tr>
  <th>{{ _('Логін') }}</th>
  <th>{{ _('Пароль') }}</th>
  <th>{{ _('Код') }}</th>
 </tr>
</thead>
<tbody>
{% for account in get_ottv1.accounts %}
 <tr>
  <td>{{ account.login }}</td>
  <td>{{ account.password }}</td>
  <td>{{ account.code }}</td>
 </tr>
{% endfor %}
</tbody>
</table>
</div>

{% include 'service_bottom.html' %}

{% endblock %}