{% extends "controls.html" %}

{% block workzone %}

 {% if service.action.num_app_packet != None  %}
  {% autoescape false %}
   <div class="alert alert-warning" role="alert">
   <p>{{ _('Ваша заява № %(num)s від %(date)s на заміну тарифного плану з %(tariff_old)s на %(tariff_new)s було прийнято в письмовому вигляді.' ,
    num = service.action.num_app_packet ,
    date = service.action.date_app_packet|dt ,
    tariff_old = service.name_packet ,
    tariff_new = service.action.name_app_packet
    ) }}</p>
   <p>
   {{ _('Відмінити заяву можна завітавши у відділ обслуговування абонентів.') }}
   {{ _('При собі необхідно мати паспорт або інше посвідчення особи.') }}
   </p>

   </div>
  {% endautoescape %}
 {% else %}
  {% autoescape false %}

   <div class="alert alert-info" role="alert">
   <strong>{{ _('Довідка') }}</strong>
   <p>{{ _('Ця дія призведе до відміни запланованої на %(date)s заміни тарифного плану з %(tariff_old)s на %(tariff_new)s' ,
    date = service.action.date_service_packet|dt ,
    tariff_old = service.name_packet ,
    tariff_new = service.action.name_service_packet
    ) }}</p>

   </div>

   <h2>{{ _('Відміна планування %(tariff)s' , tariff = service.name_packet ) }}</h2>

  {% endautoescape %}

  <form name="srv_cancel_schedule_packet" method="POST" action="" data-toggle="validator">

    {{ srv_cancel_schedule_packet.hidden_tag() }}

    <div class="form-group {% if srv_cancel_schedule_packet.errors.agree %}has-error{% endif %}">
    <label class="control-label" for="check-agree">{{ _('Підтвердження дії') }}</label>
     <div>
     {{srv_cancel_schedule_packet.agree}}
     </div>
      {% for error in srv_cancel_schedule_packet.errors.agree %}
      <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>

    <button type="submit" name="srv_cancel_schedule_packet" class="btn btn-primary">{{ _('Відмінити') }}</button></a>

  </form>

 {% endif %}

{% include 'service_bottom.html' %}

{% endblock %}