{% extends "controls.html" %}

{% block workzone %}

{% autoescape false %}
<div class="alert alert-info" role="alert">
 <p>{{ _('Ця дія призведе до вимкнення послуги Інтернет для тарифного плану %(tariff)s.', tariff = service.name_packet ) }}</p>
  {% if service.action.cancel_disable == True %}
    <p>{{ _('Заплановане вимкнення послуги з %(date)s буде відмінено.', date = service.action.date_service_switch|dt ) }}</p>
  {% endif %}
</div>

<h2>{{ _('Вимкнути послугу %(tariff)s', tariff = service.name_packet ) }}</h2>
{% endautoescape %}

   <form name="srv_disable" method="POST" action="" data-toggle="validator">

    {{ srv_disable.hidden_tag() }}

    <div class="form-group {% if srv_disable.errors.agree %}has-error{% endif %}">
    <label class="control-label" for="check-agree">{{ _('Підтвердження дії') }}</label>
     <div>
     {{srv_disable.agree}}
     </div>
      {% for error in srv_disable.errors.agree %}
      <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>

    <button type="submit" name="srv_disable" class="btn btn-primary">{{ _('Вимкнути') }}</button></a>

   </form>

  {% include 'service_bottom.html' %}

{% endblock %}