{% extends "controls.html" %}

{% block workzone %}

<div class="alert alert-info" role="alert">
 <p>{{ _('Послуга Швидке інформування дозволить Вам отримувати інформацію про стан Вашого рахунку.') }}</p>
</div>

<h2>{{ _('Швидке інформування') }}</h2>

  {% if base.credits.mail_info.allow == True %}
   <h3><a href="{{ url_for('speed_mail_info') }}">{{ _('Електронна пошта') }}</a></h3>
  {% endif %}

  {% if base.credits.sms_info.allow == True %}
   <h3><a href="{{ url_for('speed_sms_info') }}">{{ _('SMS') }}</a></h3>
  {% endif %}

{% endblock %}