{% extends "controls.html" %}

{% block workzone %}

<div class="alert alert-info" role="alert">
<strong>{{ _('Довідка') }}</strong>
 <p>{{ _('Перевірте Ваші контактні дані. Якщо вказані не Ваш номер телефону або Електронної пошти, Вам необхідно звернутись у відділ обслуговування абонентів для уточнення персональних даних, та тимчасово утриматись від використання даної функції.') }}</p>
</div>

<h2>{{ _('Швидке інформування через Електронну пошту') }}</h2>

 {% if base.credits.payment_inform > 0 %}
  <div class="alert alert-warning" role="alert">
  {{ _('Вартість послуги - %(money)s грн',
        money = base.credits.payment_inform
  ) }}
  </div>
 {% endif %}

 <form name="speed_mail_info" method="POST" action="" data-toggle="validator">

  {{ speed_mail_info.hidden_tag() }}

  <div class="form-group {% if speed_mail_info.errors.mail %}has-error{% endif %}">
  <label class="control-label" for="check-agree">{{ _('Підтвердження дії') }}</label>
   <div>
    {{speed_mail_info.mail}}
   </div>
    {% for error in speed_mail_info.errors.mail %}
     <span class="help-block">{{error}}</span>
    {% endfor %}
   </div>

   <button type="submit" name="speed_mail_info" class="btn btn-primary">{{ _('Зберегти') }}</button></a>

  </form>

  {% include 'speed_info_bottom.html' %}

{% endblock %}