  {% if base.credits.sms_info.allow == True or base.credits.mail_info.allow == True %}
   <br />
   <ul class="list-unstyled">
   <li><a href="{{ url_for('speed_info') }}">{{ _('Повернутись до вибору швидкого інформування') }}</a></li>
   </ul>
  {% endif %}

