{% extends "controls.html" %}

{% block workzone %}

<div class="alert alert-info" role="alert">
<strong>{{ _('Довідка') }}</strong>
 <p>{{ _('Перевірте Ваші контактні дані. Якщо вказано не Ваш номер телефону, Вам необхідно звернутись у відділ обслуговування абонентів для уточнення персональних даних, та тимчасово утриматись від використання даної функції.') }}</p>
</div>

<h2>{{ _('Швидке інформування через SMS') }}</h2>

 {% if base.credits.payment_inform > 0 %}
  <div class="alert alert-warning" role="alert">
  {{ _('Вартість послуги - %(money)s грн',
        money = base.credits.payment_inform
  ) }}
  </div>
 {% endif %}

 <form name="speed_sms_info" method="POST" action="" data-toggle="validator">

  {{ speed_sms_info.hidden_tag() }}

  <div class="form-group {% if speed_sms_info.errors.sms %}has-error{% endif %}">
   <label class="control-label" for="check-agree">{{ _('Підтвердження дії') }}</label>
   <div>
    {{speed_sms_info.sms}}
   </div>
    {% for error in speed_sms_info.errors.sms %}
     <span class="help-block">{{error}}</span>
    {% endfor %}
  </div>

 <button type="submit" name="speed_sms_info" class="btn btn-primary">{{ _('Зберегти') }}</button></a> 

 </form>

 {% include 'speed_info_bottom.html' %}

{% endblock %}