{% extends "controls.html" %}

{% block workzone %}

{% autoescape false %}
 <h2>{{ _('Статистика тарифного плану %(tariff)s', tariff = statistic.name_packet ) }}</h2>
{% endautoescape %}

 <form name="statistic_form" method="POST" action="" class="form-inline">

  {{ statistic_form.hidden_tag() }}

    <div class="form-group {% if statistic_form.errors.combo_box %}has-error{% endif %}">

    {{statistic_form.combo_box(class="form-control selectpicker show-tick", title="--")}}

      {% for error in statistic_form.errors.combo_box %}
      <span class="help-block">{{error}}</span>
      {% endfor %}

    </div>

  <button type="submit" name="statistic_form" class="btn btn-primary">{{ _('Вибрати') }}</button></a>

 </form>

<div class="table-responsive">
<table class="table table-hover">
<thead>
 <tr>
  <th>{{ _('Дата') }}</th>
  <th>{{ _('Вхідний, Мб') }}</th>
  <th>{{ _('Вихідний, Мб') }}</th>
  <th>{{ _('Сума, грн') }}</th>
 </tr>
</thead>

<tbody>
{% for stat in statistic.data %}
 <tr>
  <td>{{ stat.date|dt }}</td>
  <td>{{ stat.in }}</td>
  <td>{{ stat.out }}</td>
  <td>{{ stat.money }}</td>
 </tr>
{% endfor %}
</tbody>
 <tr>
  <td><b>{{ _('Всього:') }}</b></td>
  <td><b>{{ total.sum_in }}</b></td>
  <td><b>{{ total.sum_out }}</b></td>
  <td><b>{{ total.sum_money }}</b></td>
 </tr>
</table>
</div>

{% include 'cabinet_bottom.html' %}

{% endblock %}