<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{{ _('Підключення') }} {% include './locals/tm.html' %}</title>

<link rel="icon" href="{{ url_for('static', filename='images/ico.png') }}" /> 

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap-select.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/custom.css') }}" />

</head>
<body class="cabinet">
 <div class="container">
  <div class="jumbotron">
   <h1>{{ _('Ведуться технічні роботи') }}</h1>
   <p>{{ _('Спробуйте зайти через декілька хвилин.') }} {{ _('Вибачте за незручності.') }}</p>
   <p>{% include './locals/tm.html' %}</p>
  </div>
 </div>
 
 {% include './locals/tracking.html' %}

</body>
</html>