{% extends "controls.html" %}

{% block workzone %}

 {% autoescape false %}
 <div class="alert alert-{% if wpayment_info.code == 0 %}success{% else %}info{% endif %}" role="alert">


  {% if wpayment_info.code == 0 %}

    {% if wpayment_info.debt.only_check == False %}

      {{ _('Послуга "Очікуваний платіж" успішно замовлена на період з %(date_b)s по %(date_e)s.',
      date_b = wpayment_info.debt.date_b|dt ,
      date_e = wpayment_info.debt.date_e|dt
      ) }} 

      {% if wpayment_info.debt.extra_payment > 0 %}
        {{ _('Абонплата за використання послуги становить %(extra_payment)s грн',
        extra_payment = wpayment_info.debt.extra_payment
        ) }}
      {% endif %}

    {% else %}

      {{ _('Послуга "Очікуваний платіж" дозволена для замовлення на період з %(date_b)s по %(date_e)s.',
      date_b = wpayment_info.debt.date_b|dt ,
      date_e = wpayment_info.debt.date_e|dt
      ) }} 


      {% if wpayment_info.debt.extra_payment > 0 %}
        {{ _('Абонплата за використання послуги буде становити %(extra_payment)s грн',
        extra_payment = wpayment_info.debt.extra_payment
        ) }}      
      {% endif %}
  
    {% endif %}

  {% endif %}

  {% if wpayment_info.code == 1 %}
    {{ _('Послуга "Очікуваний платіж" тимчасово недоступна') }}
  {% endif %}

  {% if wpayment_info.code == 2 %}
    {{ _('Послуга "Очікуваний платіж" замовлена на період з %(date_b)s по %(date_e)s.',
    date_b = wpayment_info.debt.date_b|dt ,
    date_e = wpayment_info.debt.date_e|dt
    ) }}
  {% endif %}

  {% if wpayment_info.code == 3 %}
    {{ _('Абонента не знайдено') }}
  {% endif %}

  {% if wpayment_info.code == 4 %}
    {{ _('Абонент неактивний') }}
  {% endif %}

  {% if wpayment_info.code == 5 %}
    {{ _('Послуга "Очікуваний платіж" недоступна. Перевищено ліміт боргу в %(limit)s грн',
    limit = wpayment_info.debt.limit
    ) }}      
  {% endif %}

  {% if wpayment_info.code == 6 %}
    {{ _('Послуга "Очікуваний платіж" недоступна для договору № %(num)s',
    num = wpayment_info.debt.num
    ) }}      
  {% endif %}

  {% if wpayment_info.code > 6 and wpayment_info.code < 12 %}
    {{ _('Послуга "Очікуваний платіж" недоступна. Код %(code)s',
    code = wpayment_info.code
    ) }}    
  {% endif %}

  {% if wpayment_info.code == 12 %}
    {{ _('Відсутній Договір для послуги "Очікуваний платіж"') }}
  {% endif %}

  {% if wpayment_info.code == 13 %}
    {{ _('Послуга "Очікуваний платіж" доступна тільки для Абонентів з одним тарифним планом') }}
  {% endif %}

  {% if wpayment_info.code == 14 %}
    {{ _('Послуга "Очікуваний платіж" недоступна для тарифного плану %(name)s',
    name = wpayment_info.debt.name
    ) }}      
  {% endif %}

  {% if wpayment_info.code == 15 %}
    {{ _('Послуга "Очікуваний платіж" доступна тільки для вимкненого тарифного плану %(name)s',
    name = wpayment_info.debt.name
    ) }}      
  {% endif %}

  {% if wpayment_info.code == 16 %}
    {{ _('Послуга "Очікуваний платіж" недоступна згідно Умов тарифного плану %(name)s',
    name = wpayment_info.debt.name
    ) }}      
  {% endif %}

  {% if wpayment_info.code == 17 %}
    {{ _('Завершено термін дії послуги "Очікуваний платіж" для тарифного плану %(name)s',
    name = wpayment_info.debt.name
    ) }}      
  {% endif %}

  {% if wpayment_info.code == 18 %}
    {{ _('Послуга "Очікуваний платіж" для тарифного плану %(name)s вже надавалась в поточному місяці',
    name = wpayment_info.debt.name
    ) }}      
  {% endif %}

 </div>
 {% endautoescape %}

<h2>{{ _('Послуга') }} {{ _('Очікуваний платіж') }}</h2>


 
  {% if contract.code == 1 %}
  <div class="panel">
   {% autoescape false %}
   {{ contract.message }}
   {% endautoescape %}
  </div>
  <p><a href="{{ url_for('wpayment',mode=1) }}">{{ _('Приховати детальні умови послуги') }}</a></p>
  {% else %}
  <p><a href="{{ url_for('wpayment',mode=2) }}">{{ _('Детальніше про умови послуги') }}</a></p>
  {% endif %}

 {% if wpayment_info.code == 0 %}
   <form name="wpayment" method="POST" action="" data-toggle="validator">

    {{ wpayment.hidden_tag() }}

    <div class="form-group {% if wpayment.errors.agree %}has-error{% endif %}">
    <label class="control-label" for="check-agree">{{ _('Я погоджуюсь з умовами надання послуги') }}</label>     
     <div>
     {{wpayment.agree}}
     </div>
      {% for error in wpayment.errors.agree %}
      <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>

    <button type="submit" name="wpayment" class="btn btn-primary">{{ _('Замовити послугу') }}</button></a> 

   </form>
 {% endif %}

{% endblock %}